[2014-07-11 03:42] jsvisa opened #4 "Why `mix conform.new` defaults to `test` environment, shouldn't it is `dev`"
My project has the config file like following:

_config.exs_:

[code]

_config/dev.exs_:

[code]

_config/test.exs_:

[code]

I generate _schema.exs_ as: `mix conform.new`,
and I find the `sts.env` is `test` not `dev`, shouldn't it `dev` as default?

Furthermore, when I input as: `MIX_ENV=dev mix conform.new`, it doesn't change the `sts.env`

[2014-07-12 03:19] #4 closed, assigned to bitwalker

[2014-07-19 01:14] bitwalker opened #7 "When generating schema, merge schemas from deps"
Right now if you have app A which depends on app B, and both have conform schemas, you have to duplicate B's schema info in A if you want to use the .conf to configure both A and B. We can improve the usability and maintainability of configs by merging schemas from dependencies into the schema of the top-level app when generating it.

Potential issues:
- Cyclical dependencies, how do we handle the

[2014-07-20 20:14] #7 closed, assigned to bitwalker

[2014-07-29 20:47] bitwalker opened #9 "Allow defining translation functions in a module for reuse."
It would be nice to be able to define a module of functions that can be reused for translations. Either as an importable script, or defined inline. It seems conform.effective handles this already, so potentially the only thing that needs to happen is to fix exrm's conform plugin, and work on some kind of support for importing a script containing the functions to use.

[2014-08-01 19:43] johnfoconnor opened #10 "Generate merged schema via mix task"
Currently exrm leverages conform to merge all dependency schemas and generate a single schema

[code]

this would be useful as a conform mix task which one could leverage to output the schema to a file without needing to build a release.

something like  `mix conform.schema [outfilepath]`

[2014-08-05 00:24] #10 closed, assigned to nobody

[2014-08-11 19:46] MSch opened #12 "Doesn't deal correctly with \n in config.exs"
I used `mix conform.new` to generate a .schema from my config.exs in which I had this:

[code]

the generated .schema (and .config) didn't properly include the \n leading to no newlines in my logger.

I guess the recommended workaround is to write my own translation for logger.console.format that special cases \n characters?

[2014-08-12 19:15] bitwalker opened #13 "Add support for wildcard keys and complex datatypes"
For some configuration, the current state of conform doesn't offer enough flexibility. If someone wants a list or map of values, for example:

[code]

Currently there is no way to define a mapping from a value in the .conf to that format. The proposal for supporting this scenario looks something like the following:

[code]
[code]

Stated more plainly, the tasks to implement this are as follows:

-

[2014-08-12 22:22] #12 closed, assigned to bitwalker

[2014-10-22 20:33] johnfoconnor opened #16 "Allow more flexibility in keys"
# conform does not support keys which contain `.`

desired sys.config

[code]

Conform splits the `to` keypath on `.` which makes the above sys.config impossible.
# keys can only be `atom`s

desired sys.config

[code]

Conform expects each key component to be converted to an atom

[2015-02-05 16:29] yrashk commented on #16
Any updates on this? I am also running into this issue.

[2015-02-05 21:00] bitwalker commented on #16
@yrashk Are you running into the string key issue specifically? If so, I'll probably work on adding support for quoted keys to the conf grammar.

@stocks29 What do you think about the above? So to use string-based keys, you'd do `someapp."some arbitrary key" = foo`?

[2015-02-05 23:37] yrashk commented on #16
I was running into the Camel.Case keys issue

[2015-02-06 14:57] MSch opened #19 "Configure vm.args via conform"
https://github.com/basho/cuttlefish supports generating the `vm.args` from the `app.conf`, is something similar planned for conform? Just being able to set the node name and cookie would already solve all my problems.

[2015-02-06 17:02] bitwalker commented on #19
I would like to support this yes. I'd like some thoughts on the best approach to implementing this though, since we want a single source config file, but produce two output files. How do we indicate which mappings go to which file? It could be a mapping property which defines the output file, or perhaps we should have a special prefix key for `vm.args` mappings, such as `erlang.vm.name = test@127.

[2015-02-09 01:03] stocks29 commented on #16
@bitwalker I think that seems reasonable and straight-forward.

[2015-02-09 17:54] bitwalker commented on #16
@stocks29 Could you test with master and let me know what issues, if any, you run in to? Quoted keys are now supported in the parser.

[2015-04-10 21:25] smpallen99 commented on #16
Here is part of my config that is causing issues:

[code]
I would even be happy if I could do the following in my schema:
[code]
  default: [
    {"Primary Phone", "1"},
    {"Secondary Phone", "2"}
  ]
[code]

[2015-04-27 18:41] gerred opened #20 "Support for lists in config.exs"
I have a config.exs value that is a list. When I go to make a release, I get a failure in conform.effective. I'm not sure if I'm intended to be able to use lists in a config, or how that would end up looking in my ops conf file when generating an exrm release.

If this is intended behaviour, maybe a more useful warning? If not, I'm happy to help put together a PR to fix this.

[2015-04-28 15:08] bitwalker commented on #20
It's definitely supported, could you paste the error? I can help you track it down.

[2015-04-28 15:19] gerred commented on #20
Sure! I'll repro and post. I was getting an Enum.reduce exception in Translate, but the particular branch I was working on is at home. I'll update in a bit.

[2015-04-28 15:45] bitwalker commented on #20
@gerred Awesome thanks! I'd guess there is a missing test case somewhere that would've exposed this earlier. I'm thinking it's a bug specific to conform.effective though, not the actual schema processing, since I know we have tests for that.

[2015-05-05 19:27] marcelog commented on #20
Hello,

I think I'm also affected by this, trying with this config.exs file:
[code]

The schema file generated is:
[code]

And the error I get is:
[code]

I'm using exrm 0.15.3 which pulls conform 0.13.0

[2015-05-19 21:19] liveforeverx opened #21 "stringify corrupts code"
Example:

[code]

Conform.Schema.read!("config") |> Conform.Schema.stringify |> IO.puts

transforms to:

[code]

Changes the line to: `[user, pass] ->` to `userpass`

CC: @umatomba

[2015-05-19 21:27] liveforeverx commented on #21
Is there a reason to use conform implementation instead of `Macro.to_string` for transforming quoted to string?

[2015-05-20 23:43] liveforeverx opened #24 "High level configuration"
Sorry, it was my fault, it was 2 o'clock night.

[2015-05-21 00:04] #24 closed

[2015-05-22 16:35] #21 closed

[2015-06-03 06:00] liveforeverx opened #26 "Conform crashed on some types of configuration"
Seems, like `conform.new` can't accept all config types on generation.

[code]

[code]

[2015-06-05 12:04] liveforeverx opened #27 "Support for custom types"
It would be very nice to have validation types.

Example:
[code]

Where `Module` implements behaviour, implements function `validate`, which returns {:ok, value} | {:error, error}

It will allow to build own validation libraries on top of conform.

[2015-06-09 16:35] liveforeverx commented on #13
For your information, we have started to work on [this](https://github.com/0xAX/conform/tree/conform-wildcard) feature.

[2015-06-09 23:38] bitwalker commented on #27
I like this! Would you be open to implementing this? I unfortunately am suuuuper constrained on time at the moment, and I would like to keep things moving along. I'll certainly merge it if it's feature complete.

[2015-06-10 04:06] bitwalker commented on #13
@liveforeverx Awesome! Let me know when you feel it's ready to merge and I'll be glad to do so!

[2015-06-10 04:25] bitwalker commented on #26
I'll try and work on this in the morning, sorry for the mad delay.

[2015-06-10 13:38] bitwalker commented on #13
Support for this has been merged! Just need some documentation around it and we can call this good for now I think

[2015-06-10 16:00] liveforeverx commented on #27
Yeah, I think, that I will implement, and check #9 in this case too.

We have used conform for various releases, and have massive code duplication at the moment, which should be get rided with this 2 issues.

[2015-06-10 18:41] bitwalker commented on #27
If I can be of any help, let me know, I'd be glad to contribute what I can.

[2015-06-28 16:58] 0xAX commented on #9
Hello @bitwalker, I'm working on this issue now and have no ideas how to find used modules to import it. What do you think if we'll add additional `import` field with the modules and path to the projects which contains this modules. Something like this:

[code]

What do you think about it? If you have any another suggestion, would be great to hear.

[2015-07-01 19:19] liveforeverx commented on #13
@bitwalker Can be closed now?

[2015-07-01 19:36] bitwalker commented on #13
Oh yep, still working on cleaning up the issue tracker. Thanks! :)

[2015-07-01 19:36] #13 closed

[2015-07-29 07:40] flupke opened #35 "Module name values need to be prefixed with `Elixir.` in configuration files"
For example here is the schema generated for a conf entry that takes a module name:

[code]

In the conf file, you have to prefix the value with `Elixir.`:

[code]

[2015-07-30 18:07] dersturm commented on #26
Had the same problem. Solved by removing configuration that uses a 3-tuple. Seems to be happen because the macro that creates the schema tries to convert those tuples into Enumerables (didn't read the source to confirm)

The part where my config had a problem:
[code]
Error returned:
[code]

Resolved by removing the `arguments` index

[2015-08-03 17:00] #26 closed

[2015-08-05 17:03] 0xAX commented on #27
Hello @bitwalker, I'm working on this issue for now and what do you think about following implementation:

An user will provide schema that will contain mapping with a module as custom data type, like this:

[code]

The `Mymodule` may provide following API:

  * `to_doc/1` - will append doc string for the given mapping;
  * `transition/2` and `transition/3` - will provide default transition for th

[2015-08-11 05:53] 0xAX commented on #27
@bitwalker I've pushed this implementation in #36. What do you think about it?

[2015-08-11 16:00] bitwalker commented on #27
Looks pretty much ready to merge, just one comment on the README and we're good to go!

[2015-08-11 18:02] bitwalker commented on #27
Merged via #36, will be pushed in a new release today.

[2015-08-11 18:02] #27 closed

[2015-08-14 07:24] c-rack commented on #20
We are running into a similar problem here: https://github.com/c-rack/quantum-elixir/issues/15
There is a small test project to reproduce this issue:
https://github.com/alPacino/quantum-elixir-test

Stack trace is (abbreviated):
[code]

[2015-08-14 15:06] bitwalker commented on #20
I'll look into it this morning everyone, thanks @c-rack for the test case!

[2015-08-17 17:43] bitwalker commented on #20
@marcelog I've pushed some changes/fixes to master, including support for `list: [list: _]` types. So to accomplish what you wanted, you'd use the following schema/config/conf:

[code]

[code]

[code]

Which would produce the following effective configuration:

[code]

This is working in master, but I haven't yet released an update on hex. Please test with it and let me know what issues you encoun

[2015-08-17 17:48] bitwalker commented on #20
@c-rack Your issue should also be resolved on master as well

[2015-08-17 21:35] marcelog commented on #20
Hi @bitwalker,

Thank you for looking into this!

It seems *that* was fixed :) But there's another issue when deep nesting config values, like:
[code]

```mix conform.configure``` yields:
[code]

Am I using it in an unexpected (as in unintended) way? Do you have any suggestions for handling this kind of configuration?

Thanks for your time!

[2015-08-17 23:09] bitwalker commented on #20
@marcelog I think in this case I'd like to see your real-world config (cleaned up of anything sensitive of course), since that will help me give you recommendations or make changes to conform if needed. Right now conform does not support N-level nested sublists, and I hesitate to add such support given that it complicates both the .conf grammar/parser and conform's internals quite a bit. However,

[2015-08-17 23:15] bitwalker commented on #35
I can address this I think without overcomplicating things, I'll take a look when my current set of changes is ready to be released.

[2015-08-18 01:21] chvanikoff opened #37 "Improper translation of regex"
jfyi, this is part of Phoenix app default config:

[code]
and this is actually translated into the following:
[code]

[2015-08-18 01:59] bitwalker commented on #37
I know what the problem is here, need to add explicit support for a `:regex` type. I have some changes queued up, I'll add this to the list.

[2015-08-18 14:37] marcelog commented on #20
Fair enough @bitwalker :) The application in question has a few "workers". These workers listen for tasks coming in through a RabbitMQ queue. The N-level nested sublists appear here:
[code]

This is defined like this (instead of giving each worker it's own config section) because:

 * The `workers` config key is iterated by a supervisor that will start all the workers.
 * The `queue` config key co

[2015-09-15 16:33] grundrauschen opened #42 "Mergi"

[2015-09-15 17:12] grundrauschen opened #43 "Importing config from dependecy"
Hello,
I know that if the config.exs imports a config from a submodule, conform imports the settings from the imported config and adds them to the schema when using `mix conform.new`. Never the less one would have to recreate the schema every time a dependency changes its settings or translations.
As a feature request I would like to ask for a function to import configurations of dependencies to a

[2015-09-15 17:13] #42 closed

[2015-09-15 17:14] grundrauschen commented on #42
accidentally created. Issues in #43

[2015-09-15 17:27] bitwalker commented on #43
@grundrauschen I'm not sure I follow. A couple things:

- You do not need to recreate your schema every time a dependency changes, you just need to add/update the settings you want to expose, or remove them as appropriate. Additionally, settings in dependencies that aren't in the schema will still be present in the running config via `Application.get_env`.
- `conform.new` is really intended to jus

[2015-09-15 18:15] grundrauschen commented on #43
@bitwalker: I try to explain it further to make it more specific.

The settings of a dependency, which are defined in the dependency's config.exs are of course available through `Application.get_env`, but the one I might expose to the user to change are not automatically mergeable into the main applications one as far as I know of.
When I add them manually to my config, I of course have also to ta

[2015-09-15 18:39] bitwalker commented on #43
@grundrauschen Yep makes sense, it should certainly be possible to import mappings and translations from multiple schema files. So my thought is that the syntax would be something like this:

[code]

`extends` would be the new field to define dependencies with conform schemas which this schema will extend. I call this extending rather than importing, since definitions in this file will override th

[2015-09-15 21:07] bitwalker opened #44 "RFC: Breaking changes for the greater good"
Hi all (I hope people are listening!),

I've been working on some significant improvements to how conform works today. One of the biggest problems I've been working on is a more intuitive way to do mappings/translations for complex types. For instance, let's say you want to get the following config output:

[code]

So you write a schema that looks like this:

[code]

For one, the above does not wo

[2015-09-15 22:53] bitwalker commented on #44
Just a note, I'm also planning on adding the ability to import schemas from dependencies (see #43).

[2015-09-25 12:45] thz opened #45 "exit status 0 on failure"
Invalid input configuration (even before schema checking) will cause errors displayed but exit status is 0 (success).

[code]

[2015-09-27 22:46] bitwalker commented on #44
I've pushed the release candidate of this RFC to the `v1` branch. If you are watching, please take a look and give me feedback!

[2015-09-27 22:50] #45 closed

[2015-09-27 22:51] bitwalker commented on #43
@grundrauschen These (and many other) changes have been implemented in the `v1` branch. Could you give it a look and test with it? I'm trying to get as much feedback as possible before pushing 1.0.

[2015-09-28 18:48] grundrauschen commented on #43
hello, this is great news.
I tried it out with one project I am working on and conform tells me, that the schema extends the other app, but that it does not find it. Although my_dep has a schema in 'deps/my_dep/config/my_dep.schema.exs'. Where does conform look?

[2015-09-28 18:55] bitwalker commented on #43
@grundrauschen Probably a bug, could you describe your project layout a bit more? Also when you are seeing the error specifically?

I'm assuming your schema file looks something like the following, correct?:

[code]
Given the above, it will attempt to locate the `my_dep` application, and fetch the schema from `path/to/my_dep/config/my_dep.schema.exs`. If this isn't working, then something is proba

[2015-09-28 22:02] bitwalker commented on #43
@grundrauschen Found the problem(s), and pushed some fixes to the v1 branch. Could you pull and run your tests again? It's very much appreciated!

[2015-09-29 08:55] grundrauschen commented on #43
Hello @bitwalker, I tried the newest HEAD of the branch and `mix.configure` as well as `mix.effective` seem to create the correct output.
I am really glad for you work here.

When I try to use it with exrm (master branch) I get the following error message, but assume it is because exrm is not working on the v1 branch at the moment, right?

[code]
In the `mix.exs` of the project I use the following

[2015-09-29 23:00] bitwalker commented on #43
@grundrauschen Sorry about that, I was still working on deciding how to deprecate the conform dependency in exrm. If you use the following in your deps it should work as expected:

[code]

The change in exrm here is to move the conform plugin to conform itself, and remove the direct dependency within exrm on conform. This way use of conform is completely optional. exrm still contains some conform

[2015-10-01 10:10] tverlaan commented on #44
Hi,

I haven't used translations yet but I expect to somewhere in the future. To that end I can't really comment on making breaking changes or not. However I do see the benefits of using the second syntax, so :+1: for me.
One thing that I have doubts on is the syntax of the variables. In your example it is not possible to use `$some_variable`. Have you run into more complex configuration schemes w

[2015-10-03 06:03] #37 closed

[2015-10-16 18:04] antipax opened #47 "Logger backends config doesn't work with mix conform.configure"
While

[code]

works fine with 1.0.0-pre's mix conform.new, and appears to generate a correct  .schema.exs file:

[code]

, there is a failure when generating a new conf using mix conform.configure:

[code]

Not sure if this is a dupe of #20, but figured you might want to know since this is probably a very common configuration option for Elixir in production. Thanks for conform and exrm!!! :heart:

[2015-10-17 00:43] bitwalker commented on #47
Thanks for testing 1.0.0-pre! This is exactly the kind of thing I wanted to catch before going 1.0. I'll take a look when I get home later and get a fix pushed.

[2015-10-25 15:10] Greatlemer commented on #44
Hi,

After having just tried to get my head around the existing method of specifying complex structures in the schema then discovering this RFC, I have to say the new version is far simpler to implement and I look forward to it being released fully.
In the meantime I would like to try and make use of it with my existing project but when I try to build it with exrm 0.19.9 I get an `undefined functi

[2015-10-27 14:19] Soulforged opened #48 "Why the restriction on environment names?"
Hi,

Currently some tasks, like **conform.effective** validates the environment used to execute it. Is this really necessary? For instance I use more than just three valid environments, and the task requires it to pass this test:

[code]

I've already modified the code locally to do what I want, and I've noticed no issues, if this isn't necessary I could create a pull request.

[2015-10-29 14:38] bitwalker commented on #48
@Soulforged I'll gladly accept a PR with your changes :)

[2015-11-05 21:51] bencates opened #51 "Can't set a value with quotes in it"
There is, as far as I can tell, no way to encode the following config option:

[code]

[2015-11-05 22:49] bitwalker commented on #51
You should be able to do `my_app.prop_with_quotes = foo, "bar", baz`, or `my_app.prop_with_quotes = ["foo", "bar", "baz"]`. I unfortunately can't test right now as I only have a moment, but could you give those a try and report back?

[2015-11-06 18:57] bencates commented on #51
Okay, after further testing, it's a slightly more pathological case.  The property I'm trying to set is an API key containing special characters, including both `"` and `#`.

Test cases I tried yesterday:
[code]

[2015-11-08 02:18] #51 closed

[2015-11-08 02:19] bitwalker commented on #51
This has been fixed and pushed as part of 1.0.0-rc1 :)

[2015-11-09 23:16] #48 closed

[2015-11-09 23:18] bitwalker commented on #44
@Greatlemer Sorry about the delay, I would use the `v1` branch of exrm with conform 1.0.0-rc*. I'll be promoting v1 of exrm very soon, just trimming down the open issues a bit before I do. v1 of exrm is basically 0.19.x with some changes to be compatible with the deprecation of the direct dependency on conform.

[2015-11-09 23:19] bitwalker commented on #43
@grundrauschen ping :)

[2015-11-11 07:37] Greatlemer commented on #44
@bitwalker, no worries, I had tried that combination before without success. It turns out (as I discovered yesterday) that it was down to some sort of version conflicts as when I'd upgraded to the new github versions the older versions were still lingering in my deps folder. Once I removed them the release contained everything it should.
Good luck with getting to the v1 releases of both. I look fo

[2015-11-12 15:52] bitwalker commented on #44
@Greatlemer I suspect it was because your `mix.lock` had the old revisions :). It's caught me a few times too, but the easy way to fix it is just `mix do deps.unlock <app>, deps.update <app>`. Hopefully I'll have 1.0 out in the next week or so!

[2015-11-14 23:06] Greatlemer commented on #44
I think it was the `deps.update` step that I messed up on. I definitely unlocked them but then I did a `deps.get` again. Somehow I ended up with two versions in my deps directory.
Thank you very much for the assistance though.

[2015-11-17 14:28] grundrauschen commented on #43
@bitwalker: Sorry for not responing: I am in another team at the moment but will have a look at that change in the next days

[2015-11-19 21:50] bitwalker commented on #43
@grundrauschen No worries :)

[2015-11-20 23:04] jeffweiss opened #52 "Configs for umbrella apps not part of releases"
When using an umbrella application, the config files for any of the apps (but especially the primary application) do not get packaged as part of the exrm release.

I was able to replicate this with https://github.com/bitwalker/exrm-umbrella-test.
[code]

I expected there to be a `master_app.conf` in `rel/master_app/releases/0.0.1/`

[2015-11-20 23:43] jeffweiss commented on #52
Ah, I figured out that if I explicitly recompile `conform` after `exrm` is compiled, the release plugin will be registered and the .conf file will be copied to the release as expected.

[code]

[2015-11-21 01:28] bitwalker commented on #52
Ah that makes sense, I'll have to make a change in how exrm detects plugins, but it's fairly straightforward, should have a fix up this weekend.

[2015-11-25 18:20] bitwalker commented on #52
This is now fixed in conform 1.0.0-rc3

[2015-11-25 18:20] #52 closed

[2015-11-26 18:53] dewie opened #53 "Elixir.ReleaseManager.Plugin.Conform before_release hook exrm is not locked"
Having problem with version

 {:exrm, "~> 1.0.0-rc5"},
 {:conform, "~> 1.0.0-rc4"}

 MIX_ENV=prod mix release
Building release with MIX_ENV=prod.
==> conform
Unchecked dependencies for environment prod:
* exrm (Hex package)
  the dependency is not locked (run "mix deps.get" to generate "mix.lock" file)
==> Failed to execute before_release hook for Elixir.ReleaseManager.Plugin.Conform!
==> qrgatewa

[2015-11-27 17:16] bitwalker commented on #53
@dewie Could you run the following:

- `mix deps.get`
- `MIX_ENV=prod mix compile`
- `MIX_ENV=prod mix release`

And let me know if it still fails? I'm confused on how you could have gotten that message about the dependency not being locked, but the steps above should ensure that everything is fetched/locked and compiled before attempting to build the release.

[2015-11-27 17:47] dewie commented on #53
Hi,

I have made a release today with exrm 19.9 today.
Added conform with your code and tried a release.
This worked

But when i added the following

mix conform.new
mix conform.configure
MIX_ENV=prod mix release

I got the same error

==> conform
Unchecked dependencies for environment prod:
* exrm (Hex package)
   the dependency is not locked (run "mix deps.get" to generate
"mix.lock" file)
==> F

[2015-11-27 17:52] bitwalker commented on #53
You can't use `conform` >= 1.x with `exrm` < 1.x, because the conform plugin for exrm was moved from exrm to conform, so if you use the new version of conform with the old version of exrm, there will be conflicts. The new version of the conform plugin is also depending on changes made in exrm 1.x. Could you try with exrm 1.0.0-rc6?

[2015-11-27 18:06] dewie commented on #53
I was using exrm 1.0.0-rc5 , 1.0.0.6 gives me the same problem.

I can send you the project if that helps (just a small test application)

Met vriendelijke groet,

itXL
Daniel Wijnands

Tel: 0478-712016
Email: daniel@itxl.nl
Website: www.itxl.nl

On 27-11-15 18:52, Paul Schoenfelder wrote:

[2015-11-27 18:16] bitwalker commented on #53
Sure if you can send me a link to the test app, I'll clone it and test locally.

[2015-11-27 18:47] dewie commented on #53
It is in a private repository,
I will send it by wetransfer (including _build folder) = 13mb.

Can i use paulschoenfelder@gmail.com ?

Met vriendelijke groet,

itXL
Daniel Wijnands

Tel: 0478-712016
Email: daniel@itxl.nl
Website: www.itxl.nl

On 27-11-15 19:16, Paul Schoenfelder wrote:

[2015-11-27 21:40] bitwalker commented on #53
Yep! No problem

[2015-11-30 09:43] alco opened #54 "Does conform support custom data types?"
The Readme says

but then it also shows an example of creating a custom type.

I tried using one, but it doesn't seem to be invoked at all, parsing the corresponding value as a binary instead.

[2015-11-30 15:44] bitwalker commented on #54
@alco Yes this has been implemented, I need to review and update the README, sorry about that. Could you share your custom type implementation and an example schema and conf showing it's use? I can help you figure out why it's not working, and then get that into the docs as an example for future reference.

[2015-11-30 16:16] alco commented on #54
Take a look at this test repo https://github.com/alco/conformist

When I run `mix conform.effective`, I don't see the functions in the custom type being invoked at all, and no errors are printed. It just uses the value from `config.exs`.

[2015-11-30 16:39] bitwalker commented on #53
@dewie Ok I found the issue with this, and pushed a fix and a new release 1.0.0-rc5. The problem was that the `conform.release` task changes the Mix env to prod when it builds the conform escript, however the exrm dependency won't be available when it does so (unless you `MIX_ENV=prod mix compile` first). Since that change of environment is not actually necessary, I've removed it for now.

[2015-11-30 16:39] #53 closed

[2015-11-30 17:14] bitwalker commented on #54
@alco Looks like the problem here was that the loadpaths weren't set properly when the mix task runs (i.e. it can't find any modules from the calling project). I pushed a fix and a new release of conform, and also updated your example project so it works.

[2015-11-30 17:23] alco commented on #54
Neat! Thanks!

[2015-11-30 20:01] dewie commented on #53
Thanks!

Met vriendelijke groet,

itXL
Daniel Wijnands

Tel: 0478-712016
Email: daniel@itxl.nl
Website: www.itxl.nl

On 30-11-15 17:39, Paul Schoenfelder wrote:

[2015-11-30 22:33] #54 closed

[2015-12-01 10:19] alco opened #55 "Failure in ReleaseManager.Plugin.Conform when using rc6"
I have updated my test project to also use the latest exrm, https://github.com/alco/conformist/commit/1a7ee58744b520a23b7defde1c5d2d3993c158fa.

When I run `mix release` for the first time (or after removing the `_build` directory), it builds the release. When I try to run it for the second time, I get the following error:

[code]

[2015-12-01 15:48] bitwalker commented on #55
I pushed a fix for this yesterday, so if you are running conform 1.0.0-rc6, you shouldn't see this error any longer.

@alco Just out of curiosity, and bear with me because this is relevant I promise :P; I moved conform's exrm plugin to conform as part of the 1.x branch, however I found out recently that conform must declare exrm as an optional dependency in order to enforce exrm being compiled fir

[2015-12-01 16:17] alco commented on #55
I'm running rc6. My `mix.lock` from the link above:

[code]

Let me think some more about the situations with plugins, I'll get back to you with more comments.

[2015-12-01 16:22] bitwalker commented on #55
I wonder if this is because of `preferred_cli_env: [release: :prod]`? If the setting is taken into account when the `conform` escript is being built, the error would make sense. I'm not super familiar with the details of that setting though, does that sound like what you'd expect to happen?

[2015-12-01 16:35] alco commented on #55
Doesn't look like `preferred_cli_env` is relevant.

I don't understand what you mean here

The issues I'm seeing seem to be the reverse of what you're describing. I did another test:

  * removed `preferred_cli_env`
  * removed `_build/dev`
  * tried creating a release again

It succeeds, you can see the full log in this [gist](https://gist.github.com/alco/dede31be07efcba18544).

When I run `mix r

[2015-12-01 16:47] bitwalker commented on #55
Well that's new, shit. Conform is being pulled in as a hex package here correct? What happens if you make it a git dependency instead? Does it work then?

[2015-12-01 21:17] mpahrens commented on #55
I am experiencing the same problem as a git dependency with:
     { :conform, git: "https://github.com/bitwalker/conform", tag: "1.0.0-rc6"}
and
     {:exrm, "~> 1.0.0-rc5", [hex: :exrm, optional: true]},
Thanks!

[2015-12-01 22:03] bitwalker commented on #55
This is so strange. For some reason, mix isn't fetching ex_doc or earmark, but it is fetching neotoma. I have no idea how this could happen. I'll keep looking.

[2015-12-01 22:22] bitwalker commented on #55
Ok, I very clearly broke something in a recent commit, so I'll walk back and figure out what it was exactly. Sorry everyone :(

[2015-12-01 23:17] bitwalker commented on #55
Ok, so here's the deal:

Pulling the conform plugin into conform itself required some hackery that simply was causing more problems than it was worth. So instead, I've updated conform so that it is standalone entirely, and the conform plugin for exrm is now available via Hex as `conform_exrm`. The project can be found [here](https://github.com/bitwalker/conform_exrm) and covers how to use it as a

[2015-12-02 10:55] alco commented on #55
@bitwalker In order to make `conform_exrm` work, it also has to be included in the list of applications of the parent project. I'm not a fan of that because it is a build dependency, not a run-time one.

Now, using `exrm` rc7, `conform` rc7, and `conform_exrm` 0.1.0, I can get the release to build. But it spews warning about conform every second time:

[code]

I remember hearing of a similar recom

[2015-12-02 10:57] alco commented on #55
@bitwalker are you completely against merging `conform_exrm` back into `exrm` itself? That would solve  the problem with having to include `conform_exrm` in the list of applications. And if `exrm` checks if `conform`'s modules are available before doing anything with it, that would still allow people to opt out from using `conform`.

[2015-12-02 16:51] bitwalker commented on #55
@alco Why do you have to include it in the list of applications? There should be no such requirement.

I'm not totally against merging the plugin back into exrm, however I do have a couple of problems with it:

- I would like to figure out what the model for a shared plugin for exrm looks like, which is effectively what conform_exrm should be. Conform in and of itself should be able to live indepe

[2015-12-02 18:38] alco commented on #55
You're right, I forgot about the new `warn_missing` option. It solves this problem.

As for the best way to distribute the plugin, I think making it a separate project works best for providing the ability to push new releases for projects independently of each other.

I just thought that if `conform` is very often used with `exrm`, the latter could have it as an optional dependency. I realize now

[2015-12-02 18:59] alco opened #56 "Pesky recompilation of conform with rc7 and confrom_exrm"
See my test project again, https://github.com/alco/conformist/commit/11df8b2f204578353694ae055d3f1d52fea26e28.

Every time I call `mix release`, it keeps recompiling `conform`. The reason could be that conform builds an escript during the release process. I haven't had time to confirm that though.

[code]

[2015-12-02 19:37] bitwalker commented on #55
The reason why the deps even exist in `conform_exrm` (beyond the need to compile the project, but then they could be declared `only: :dev`) is that without them, `conform_exrm` may be compiled before either `exrm` or `conform`, causing compilation to fail. By making them optional (or just present in general), mix will ensure they are compiled first. I haven't tested whether having them as `only: :

[2015-12-02 19:40] bitwalker commented on #56
It's definitely because of the escript, however I would think that the compilation artifacts would stick around and not recompile the second time. I'll have to try and experiment with it to see why it's doing a full recompile.

Do you happen to know if escripts are portable? Could I add it to `priv` and just pull it from there instead of building it fresh every time? I was under the impression the

[2015-12-02 19:45] bitwalker commented on #55
@alco Sadly, marking the deps as `only: :dev` doesn't enforce compilation order :(. I don't know how else to make mix compile them in the correct order other than declaring them as direct deps.

[2015-12-02 19:47] bitwalker commented on #55
However, it appears marking them as `optional` is what requires the `override: true`. So I'll be pushing 0.2.0 of conform_exrm shortly.

[2015-12-02 19:49] bitwalker commented on #55
Done, and tested. It's much much better now. Still have the recompilation problem though.

[2015-12-10 06:42] brentonannan opened #57 "Does the readme need updating?"
On the readme, the schema is listed as having mappings, and translations (as in cuttlefish), but in the generated schema, there's mappings, transforms, and validators. This leads me to think that the readme is quite a bit out of date - is this correct, or am I reading it wrong? Is there a canonical place for up to date documentation?

[2015-12-11 15:59] bitwalker commented on #57
@brentonannan You are absolutely correct, I'll push updated documentation today sometime.

[2015-12-15 17:50] bitwalker commented on #57
Updated the README and some other errors I spotted.

[2015-12-15 17:50] #57 closed

[2015-12-15 21:39] brentonannan commented on #57
Thanks a lot mate =D

[2016-01-13 22:57] localshred opened #58 "Cannot get conform to apply settings from app.conf at app start"
I'm just going to say ahead of time this is my first Elixir/Erlang deploy (with or without exrm/conform) so be kind. I'm also assuming this is my own error and not a bug. I'm just not sure of a better way to get help/feedback. I appreciate your time.

I am using exrm `1.0.0-rc7` and conform `1.0.0-rc8`.

When I build on the same machine I want to deploy on, the conf file that has the correct value

[2016-01-13 23:35] bitwalker commented on #58
Could you describe your deployment workflow for me, just so we're on the same page?

Conform itself isn't responsible for copying the config, that's actually up to the boot script in `exrm`. However the config is copied from the release directory to `running-config` during `upgrade`, `downgrade`, `console`, `foreground`, and `start`, so if you are copying the config manually after one of those com

[2016-01-13 23:36] localshred commented on #58
After reading some more code I realized that I was constraining `conform` and `exrm` and `conform_exrm` to dev/test only but that doesn't work when trying to build a prod release, so I removed those restrictions. The conf file is now being copied over correctly and the `conform` script is now being built into my release. I am now back to the issue I encountered with the old release, namely when th

[2016-01-13 23:37] bitwalker commented on #58
That's a new one, does the `conform` binary actually exist at `/app/gretel/current/releases/0.0.1/conform`?

[2016-01-13 23:40] localshred commented on #58
Sure, my current deploy process is to build and run on the same machine (for now). The `config/gretel.conf` file is already on this machine and in the config directory. `/app/gretel/current/bin` is on the `$PATH` as well.

1. Pull latest commits on build server
2. `MIX_ENV=prod mix do compile, release`
3. `mkdir /app/gretel/releases/{version} && cd /app/gretel/releases/{version}`
4. `tar -xvf {pat

[2016-01-13 23:42] localshred commented on #58
The `conform` binary is only present when all three deps are available for the env I'm building for.

[2016-01-13 23:42] bitwalker commented on #58
That's expected, let me review your process and see if I can reproduce, should just be a few minutes.

[2016-01-13 23:42] localshred commented on #58
Ok thx!

[2016-01-13 23:43] localshred commented on #58
My app deps, if it matters:

[code]

[2016-01-13 23:50] bitwalker commented on #58
Very strange, your process works for me locally (I have a little test app which I dumped your config in):

[code]

Only difference being that I changed `kafka_ex` to `test` in the schema and conf. What happens when you run the following?

[code]

You should see the output below if it's working properly:

[code]

What OS, Erlang and Elixir versions are you running on this machine?

[2016-01-13 23:52] localshred commented on #58
Same result, undefined function:

[code]

[code]
[code]
[code]

[2016-01-20 07:10] surik opened #59 "Why do you use custom stringify?"
Why do you use custom stringify [here](https://github.com/bitwalker/conform/blob/master/lib/conform/utils/code.ex#L22) instead of `Macro.to_string`?

[2016-01-21 22:47] tehprofessor opened #60 "Failing test"
I'm trying to run the test suite, from master, and I get this as a failing test:

[code]

I've looked at the code for that test and the `sys.config` file remains empty-- not sure what's exactly going on...

[2016-01-22 18:15] bitwalker commented on #59
Because of formatting. `Macro.to_string` works fine of course for producing a string of source code, but it is very obviously formatted by the computer. I wanted to generate source code which closely matched how one might type it by hand, and in order to do that, I had to implement my own stringification.

[2016-01-23 05:40] surik commented on #59
Ok, I see your point.
But your custom stringification doesn't support all elixir syntax. For example '!=' in when :

[code]

It because [here](https://github.com/bitwalker/conform/blob/master/lib/conform/utils/code.ex#L149) is allowed only `in`.

[2016-01-23 06:37] bitwalker commented on #59
Ah, indeed, I'll get that addressed ASAP.

[2016-01-28 14:59] rafal-radziszewski commented on #57
@bitwalker Currently there is example of translation using
[code]

Such expressions causes compilation error on Elixir 1.2 (case/3 not defined).

[2016-01-31 19:18] liveforeverx commented on #59
+1 for production usage `Macro.to_string/1` should be mostly always better-tested.

[2016-02-09 23:11] bitwalker commented on #60
Fixed in master

[2016-02-09 23:11] #60 closed

[2016-02-09 23:42] bitwalker commented on #57
@rafal-radziszewski Fixed, thanks!

[2016-02-11 18:42] bitwalker commented on #59
@liveforeverx Well that stringification is only used for generating a schema, it's not something used in production. In that case, it's better to have something that requires less fiddling by the user.

However it's been quite some time since I wrote that code, so perhaps there are ways to use stdlib functions to generate more idiomatic output these days, I'll take a look.

[2016-02-29 11:13] edevil opened #63 "exrm complains that conform does not declare neotoma dependency"
[code]

Versions used:
conform_exrm         0.3.0
exrm                        1.0.1
conform              1.0.0-rc8

[2016-02-29 20:45] #63 closed

[2016-03-01 10:52] alco opened #64 "conform.release fails after the first run"
If you clone this project https://github.com/alco/exrmtest and run `mix conform.release` in it, it'll work the first time. But every subsequent attempt produces the following output:

[code]

When running it with `MIX_ENV=prod`, it only complains about `neotoma`:

[code]

The errors appear to come from the invocation of `escript.build` but I haven't been able to investigate it further.

Elixir v1.

[2016-03-01 18:08] bitwalker commented on #64
The release I pushed today removes that task entirely, as it's internal to exrm, and was causing problems for a variety of reasons.

[2016-03-01 18:08] #64 closed

[2016-03-10 20:20] bradleyd commented on #47
any movement on this @bitwalker ?

[2016-03-18 17:28] bitwalker commented on #47
Sorry I have let this one slip for so long, it's on my TODO list for the next release.

[2016-04-02 15:21] pdilyard opened #65 "Warning instead of error on conform.effective"
When running `mix conform.effective` you have to have a `myapp.conf` file already built. This wasn't immediately obvious to me, so I ended up running it expecting to see some output generated by my schema. This resulted in an undefined function error.

I think it would be pretty easy and helpful to add a check for whether or not a `.conf` file exists before executing `conform.effective`, and print

[2016-04-16 02:13] martin-langhoff commented on #47
AFAICT, this is because Conform cannot handle tuples. Turning your tuple into a list makes Conform happy.

Whether that's a useful workaround ...

@bitwalker -- any hints on how to address this? I don't mind putting in the effort but I'm new around here (you may have heard me say this before :-) ).

[2016-04-16 02:39] martin-langhoff commented on #16
Dupe with #47 , or just major overlap ?

[2016-04-16 22:58] martin-langhoff opened #66 "Strings end up with extra quotations in example config"
`config.exs` contains

[code]

the generated `engine.schema.exs`:

[code]

when I generate `engine.conf`, it contains what I understand to be spurious double quotes:

[code]

And then this seems to be rather wrong:

[code]

Not a showstopper, I am cleaning up the spurious double-quotes. But buggy.

[2016-04-16 23:04] martin-langhoff commented on #47
BTW, this affects usage with cqerl as cqerl wants a list to configure cassandra_nodes list - https://github.com/matehat/cqerl

[2016-04-16 23:44] martin-langhoff commented on #66
`  "conform": {:hex, :conform, "2.0.0"}`

[2016-04-22 20:18] hogjosh opened #68 "Failure with a single nested list"
#67

As indicated in the pull request, failures occur when there is only a single sublist defined for a nested list config.

[2016-04-25 14:18] liveforeverx commented on #66
@martin-langhoff 👍 I have the same.

[2016-04-25 17:22] hogjosh opened #69 "Merging configs with nested lists"
I'm hesitant to consider this a bug outright, but I'll describe an example scenario.

If I create a release with 5 sublists defined for a particular key in prod.exs and need to deploy that release to a different environment where only 3 sublists are necessary (via a different .conf file), the merging process gives me the 3 sublists that I want, but also the last 2 from the initial prod.exs.  I can

[2016-04-25 17:25] hogjosh commented on #68
As a workaround, I'm able to add an empty list to the .conf file and then remove it in a transform defined in the schema.

[2016-04-26 12:08] liveforeverx commented on #66
My old pull request to this problem: #30
But, another problem, that in new version input isn't sanitized, what I fix with #70

[2016-05-10 19:55] martin-langhoff opened #72 "Transforms docs in README are old/incorrect"
The API has changed for transforms a while ago, this is rather confusing.

The source code has embedded code samples which are closer to reality. The new API format is rather impractical, here is a code snippet for a transform that takes a value of `"format abcde"` and turns it into `{:format, "abcde"}`, useful for `myapp.some_crypto_key = base64 YTM0NZomIzI2OTsmIzM0NTueYQ==`

[code]

[2016-05-18 19:18] martin-langhoff opened #73 "Tuples in `sys.config` handled erroneously, breaks :ip"
Tested with conform `2.0`. If the application's `sys.config` contains a tuple:

[code]

and the schema contains:

[code]

conform will generate an erroneous output `sys.config` with a list of lists (instead of a list of tuples) holding the data from the input `sys.config` list of tuples:

[code]

[2016-05-27 22:49] jeffweiss commented on #73
I think this might be related to https://github.com/bitwalker/conform/blob/master/lib/conform/utils/utils.ex#L83

[2016-05-28 00:28] bitwalker commented on #73
Now that #74 is merged, is this issue addressed?

[2016-06-06 09:07] developerworks opened #75 "Can not processing the binary"
In my `config.exs`, have this config:

[code]

When i execute the `mix conform.new` the following errors raised:

[code]

You can try this test project at https://github.com/developerworks/conform_test

[2016-06-07 23:02] matehat commented on #43
@bitwalker I was trying to use the `:extends` key in my project but I fail to see how that can be useful because, in a release, conform does not seem to pick up the extended schema at all.

It seems the current behavior is that, when building the release, an initial `sys.config` gets produced and while doing so it does pick up the extended schemas properly. But when starting a node after that, the

[2016-06-08 10:59] matehat commented on #43
Is that the expected behavior?

[2016-06-14 16:12] bitwalker commented on #66
@liveforeverx #70 is merged, is #30 still something which needs to be addressed, or did #70 cover the issues outlined here?

[2016-06-14 16:19] bitwalker commented on #43
@matehat We probably need to ensure extended schemas are archived like imports are, so that they can be extracted on the target system and consumed. Since the `config` folder is not present in a release, that probably explains why it's not working as expected. I thought I recall extensions being archived, but it's entirely possible I overlooked that - `extends` was a feature request which I implem

[2016-06-14 16:20] bitwalker commented on #75
Interesting, ok I'll take a look at this ASAP

[2016-06-14 16:21] bitwalker commented on #73
@jeffweiss ping :)

[2016-06-14 16:24] bitwalker commented on #72
@martin-langhoff I'll make sure the docs get updated! You mentioned that the new API format is impractical, could you clarify your concerns? Your specific example is not much longer than alternatives I can think of, but has the benefit of scaling to some very complex configuration requirements. Is there a specific issue you would like to see addressed?

[2016-06-14 16:27] bitwalker commented on #69
It may help to see a simplified example with all of the configs involved, but it sounds like it may be desirable to have a setting which toggles the merging behaviour for a specific configuration key correct?

[2016-06-14 16:34] martin-langhoff commented on #72
Don't worry about my "impractical" complaint, I was wrapping my mind around the new API. Apologies.

The important part is to get a current example to the README :-) (alternatively, remove the wrong example and point people to unit tests and source instead...).

[2016-06-14 16:55] jeffweiss commented on #73
@bitwalker this is solved for **me**, but I'm not using `:ip`. I was using a more generic list of tuples of binary and list.
[code]

I *presume* that since my case is fixed that `:ip` is *also* fixed.

[2016-06-14 16:56] jeffweiss commented on #73
Oops, that comment was in draft while I wrote some tests to validate the fix. @bitwalker yes, it's fixed. #78 has tests that fail w/ 2.0.0 and pass with master. 🎉

[2016-06-14 17:11] bitwalker commented on #73
Ok excellent, I'll get a new release pushed to hex today

[2016-06-14 19:13] sdball commented on #72
Thanks for this @martin-langhoff! I was just struggling with trying to get transforms to work and even copied the schema from the README entirely into my app to see if I was missing some critical piece. Your example is great 🎉

[2016-06-14 19:23] bitwalker commented on #72
Sorry about that, I somehow completely missed updating the README when I released 2.0, nothing worse than bad docs :(

[2016-06-14 19:33] bitwalker commented on #68
Definitely a big in the parser, I'll take a look!

[2016-06-14 19:39] bitwalker commented on #47
Yeah I think I know what's going on here, the current set of types don't work well with mixed lists like in your example, I need to think on the best way to express that, in both the schema and the parser

[2016-06-22 12:41] sdball commented on #72
No worries! I'll try and take a pass at updating the README. It'll also help me learn the ins and outs of conform. 😄

[2016-06-22 12:50] sdball opened #81 "Elixir 1.3 warnings"
Compiling conform in Elixir 1.3 shows three warnings that should be addressed:

[code]

[2016-06-24 00:07] sdball commented on #72
@bitwalker I've got the `myapp.another_val` transform example working. But I'm having a hard time figuring out how to make the lager settings work. It looks like `Conform.Conf.get` needs to pull the actual setting that the variable is going _to_ and not its friendly id. If that's the case I don't quite understand how to translate the previous example for 2.0. I don't see how the transform can add

[2016-06-29 01:21] bitwalker commented on #81
I'll get this addressed in the next few days, thanks for reporting!

[2016-06-29 09:33] surik commented on #59
Any results?

[2016-07-04 08:29] 0xAX opened #82 "Use schemes from projects which are not direct dependency"
Hello @bitwalker, I have some issues:

I need to merge schemes from dependency of my application and some of its dependencies in release. I see that I can use `extends` attribute for this purpose, but in the same way I see that conform uses `Mix.Dep.children/0` to collect dependency schemes.

This leads to following problem: What if I want to merge schema from not direct dependency, but for exampl

[2016-07-15 15:12] rixmann commented on #82
+1

[2016-07-25 13:42] spscream commented on #73
@bitwalker it's still not fixed in the latest release :( Did you push it on hex already?

[2016-07-28 03:32] bitwalker commented on #73
@spscream Yes, I released 2.1.0 tonight.

[2016-07-28 03:32] #73 closed

[2016-07-28 03:32] bitwalker commented on #81
Fixed in 2.1.0

[2016-07-28 03:32] #81 closed

[2016-07-28 03:50] bitwalker commented on #59
@surik The issue you brought up has been addressed in 2.1.1

[2016-07-28 03:50] #59 closed

[2016-07-28 03:56] #55 closed

[2016-07-28 03:56] #44 closed

[2016-08-03 11:52] 0xAX commented on #82
Can be closed as fix already pushed https://github.com/bitwalker/conform/commit/a0ab7e51323f298977649246f38247231c960a38

[2016-08-03 11:52] #82 closed

[2016-08-12 21:24] bitwalker commented on #56
This should no longer be an issue with distillery, since it gets rid of the extra package and the cyclical dependency - and if you aren't using distillery, you should ;)

[2016-08-12 21:24] #56 closed

[2016-08-16 07:30] raarts opened #84 "Compile warnings about redefining @doc attribute"
[code]

I must add I'm new to the elixir world, so these may be my own fault..

[2016-08-31 19:32] oadeojo commented on #47
I am experiencing a similar issue with creating an exrm release with exsyslog in my app. @martin-langhoff did changing the tuple to a list work for you?

[2016-09-01 22:13] jamesotron opened #85 "Error running `mix conform.new` with pathological `config.exs`."
Hi there.

I have the following chunk of awesomeness in my `config.exs`

[code]

And when I run `mix conform.new` I get the following amazing backtrace:

[code]

I am so excited to raise this bug for you to fix. You must be very happy as the maintainer of a popular open source project to serve my every whim.

All kidding aside, this is with conform 2.1.1 on Elixir 1.3.2 with Erlang 19.  If there's

[2016-09-19 22:01] martin-langhoff opened #90 "Schemas are reduced incorrectly during archival"
On top of #89 I am debugging in issue around https://github.com/bitwalker/conform/blob/master/lib/mix/tasks/conform.archive.ex#L33 . I can only describe it as "the accumulator drops items". My example schema "extends" two other schemas. Those are found, but the accumulator somehow drops them.

Pulling my hair out on this one.

[2016-09-20 13:14] martin-langhoff commented on #90
Sorted out, appears in the latest patch on #89 ~

[2016-09-20 16:55] bitwalker commented on #90
Merged #89, so I'll close this out

[2016-09-20 16:55] #90 closed

[2016-10-11 20:29] akurkin opened #91 "Conform with umbrella app, distillery and edeliver"
hey guys,
I have an umbrella app with 5 apps within umbrella. I use distillery to build the release, and edeliver for deployment.
Distillery is configured to build single release for whole umbrella application which as well results in generating a single `sys.config` file.

Configuration is rather complex and I was hoping to use `conform`, but I'm struggling a bit with making it work. For example,

[2016-10-30 21:45] coryodaniel commented on #91
I'm having the same issue using Conform 2.1.1 and Distillery 0.10.1. I found [another issue](https://github.com/bitwalker/distillery/issues/56) where it seems to be solved, but I could not get it to work either. My release VSN directory is missing the schema and conf files. See attached screen shots.

*distillery and conform non-umbrella*
<img width="306" alt="distillery and conform non-umbrella"

[2016-10-30 23:32] coryodaniel commented on #91
I have tried this with the master branches of conform and distillery and still have no luck.

[2016-11-01 00:15] coryodaniel commented on #91
@akurkin you may want to hop over to [this ticket](https://github.com/bitwalker/distillery/issues/56) if you are experiencing issues!

[2016-11-02 17:22] bitwalker opened #92 "Conform not executed after an upgrade"
Link to original issue: https://github.com/bitwalker/distillery/issues/92

We need to run conform's pre_start hook pre_upgrade as well now that the hooks for it are in distillery master.

[2016-11-02 21:28] bitwalker commented on #92
This is now fixed in master.

[2016-11-02 21:28] #92 closed

[2016-11-14 18:43] coryodaniel commented on #91
@akurkin Would you mind taking a peek at this PR to see if it solves your problem? ->

https://github.com/bitwalker/conform/pull/94

[2016-11-14 20:04] akurkin commented on #91
@coryodaniel sure, I'm more than happy to try it out :) hopefully will get back to it this week. Does your change fixes the way mix tasks work or should I manually place schema files in apps?

[2016-11-22 17:04] coryodaniel commented on #91
@akurkin changes the plugin that the release mix task uses. It'll grab each of the conform configs/schemas and merge them together to make one for the whole umbrella. It only ends up in the release since its generated.

[2016-11-22 18:10] akurkin commented on #91
@coryodaniel I've tried last week, it turned out at a first glance that generated sys.config was in different format than in the one generated by distillery from master branch. I.e. it contained all files merged, but they were merged but not `flatten`. Too bad I didn't save the output file, I'm going to give a shot one more time and hopefully provide more useful info.

[2016-12-01 20:24] bitwalker commented on #91
@akurkin Were you able to confirm if there was an issue?

[2016-12-02 20:57] mdillavou opened #96 "Guardian ttl"
For configuring guardian's ttl, the configuration expects a tuple in the form of {30, :days}. No matter what I do, conform seems to always turn this into [30, :days], which causes guardian's internal pattern matching to fail. Is there anyway to configure this?

Here's a link to guardian:
https://github.com/ueberauth/guardian#installation

[2016-12-12 12:30] 00dingens opened #98 "UTF8 support (Issue: utf8 encoded content is translated to latin-1)"
*Issue*: UTF8 characters in config files are not supported / handled properly.

*Code*: The code at https://github.com/bitwalker/conform/blob/master/src/conform_parse.erl#L155 converts utf8 encoded content explicitly to latin1.

*Effect*: So if we have e.g. a value like "ú..." (U+00FA) in the config file the output will be <<250,...>> which is no valid utf8 content. (the correct output would be <<

[2016-12-12 23:18] bitwalker commented on #98
I've pushed the fix to master, mind giving it a shot?

[2016-12-13 09:44] 00dingens commented on #98
Way better.
To get it working I need a little fix.
See my MR: https://github.com/bitwalker/conform/pull/99

[2016-12-13 09:48] 00dingens commented on #98
One test fails - but since this test only shows that utf8 is not supported: maybe it should be changed to assert the current output.

[2016-12-13 21:07] bitwalker commented on #98
Done

[2016-12-13 21:07] #98 closed

[2016-12-14 13:51] 00dingens commented on #98
seems that this issue is not solved completely. on `mix conform.effective` everything is fine, but in a release  the latin-1 content somehow still remains.

[2016-12-14 14:15] 00dingens opened #101 "utf8 .conf file in release"
I can not reopen https://github.com/bitwalker/conform/issues/98 so I open a new issue.

on mix `conform.effective` utf8 encoded content in `.conf` file is supported,
but in a release it is still transcoded to latin-1.

[2016-12-14 18:04] bitwalker commented on #101
Could you clarify what you mean? Which file has latin1 encoded content? Where are you noticing the problem?

[2016-12-19 13:40] ftaebi opened #102 "Why does schema map { _ , value } to { :atom , type(value) } ?"
Hi, in Conform.Schema.extract_datatype there is the line

    defp extract_datatype({_, v}), do: {:atom, extract_datatype(v)}

This causes a config line like

    ttl: { 30, :days }

to generate the schema entry

    datatype: {:atom, :atom}

Which leads to an argument error in Conform.Translate.write_datatype/3 ( :erlang.atom_to_binary(30, :utf8) ) when you run configure.

My question is: what wa

[2016-12-20 05:06] bitwalker commented on #102
This is indeed a mistake - the reason why that exists is to support keyword lists where the first element is always an atom, but you are absolutely correct that there is no reason why it couldn't extract the datatype of both elements. I'll get that fixed.

[2016-12-20 05:07] #102 closed

[2016-12-20 05:15] bitwalker commented on #96
So sorry for the delay in getting back to you, I'm just now turning my attention back to conform to bring it up to speed. Could you update now that I pushed the fix for your other issue and let me know if we still have a problem? If so, if you wouldn't mind sharing your schema and conf (it's ok to elide anything sensitive which isn't relevant), that will help a great deal. Thanks!

[2016-12-20 10:24] akurkin commented on #91
@bitwalker @coryodaniel today we've tried converting configs for all in-umbrella apps using latest conform and distillery releases, and all worked smoothly - merging configs into one (at `rel/<app>/var/sys.config`) and then starting an app, so I think this issue can be closed, thanks much for hard work on this, seems a really big step forward for making it easier to run and release elixir apps! 🙇

[2016-12-20 23:03] mcelaney opened #104 "Make sorting of output config optional"
I have a project where we define config with a list. It looks something like this:

[code]

We (want to) do some stuff with the order of this list in the app - however conform seems to be chewing up the list when it translates the list to sys.config. To try to understand what is going on I changed the order of `configs/nested_list.exs` and then altered the assertions in ConfigTest to match my expe

[2017-01-05 21:08] JanStevens opened #105 "Possible to reload `.conf` file"
Is it possible to reload the conf file without restarting the app?
I found a very old repo that does it for conform + exrm: https://github.com/xerions/exrm_reload

[2017-01-06 06:55] kuon opened #106 "Share setting"
I have settings that I'd like to share, like this:

[code]

In this example, I use the same setting for two config variable.

Is there a way to do this in current conform state? If no, do you think we can support this?

[2017-01-06 07:38] kuon commented on #106
I found a way to do it (the transform example was outdated in the README):

[code]

[2017-01-06 07:38] #106 closed

[2017-01-10 21:19] geofflane commented on #96
MASTER currently produces the proper output:
[code]

But when you run `mix conform.configure` an error occurs:
[code]

Looks like `write_datatype` needs to be updated too?

[2017-01-24 05:56] ananthakumaran opened #107 "strange merge behaviour"
[code]

For the first case, it assumes the list is a charlist and uses the new value

For the second case though, for the first two entries new value is used and for the other two entries old value is used.

I find this behaviour quiet weird. I understand that this behaviour might make sense for keyword list, but for ordinary list, this is quite confusing as part of the default configuration is us

[2017-01-24 12:28] mgumz commented on #101
what @00dingens meant: using "mix conform.effective" shows "the right thing", but using *exrm* plus observing the values coming out of a .conf file in production still shows latin1.

we will recheck the issue, once we upgrade to the latest conform

[2017-01-25 10:50] spscream opened #108 "sys.config generation broken in hooks"
I'm using conform the following way:
- starting conform pre_start hook in distillery
- starting migration command
- starting release

before 2.1.2 it worked, after 2.1.2 it is broken, since this commit: https://github.com/bitwalker/conform/commit/ab5bcccfe837306ffcbad1a8232db777e29a6167

since boot.eex always checking if release sys.config is different from sys.config from RELEASE_MUTABLE_DIR here

[2017-01-26 14:48] andrewcottage opened #109 "Wrongly Generate Path for Some Dependencies"
We have a rather large umbrella application with many child applications. We are using conform version `2.1.2` and Elixir `1.3.2` While going through the steps of generating the conform configuration I've ran into a strange error on the `conform.effective` step. Most of the dependencies are fine, but there are a few that are trying to use the incorrect path like this:
[code]

You can see that it's

[2017-02-03 05:06] bitwalker commented on #101
This could likely be due to running the release in an environment where the locale Erlang is running under is `latin1`, rather than utf8, causing it to try and parse the `sys.config` as if it's `latin1`. I'm not aware of anything in exrm (or distillery) which transcode utf8 to latin1 though.

[2017-02-03 19:55] #107 closed

[2017-02-03 19:59] bitwalker commented on #104
The existing tests in `config_test.exs` already ensure the order is preserved all the way through. Can you provide me with a `config.exs`, `.conf`, and `.schema.exs` which I can use to reproduce the problem you're seeing?

[2017-02-03 20:05] bitwalker commented on #109
This is a mix error, not conform - I'm not sure what would've caused that, but it's definitely happening before conform is even called.

[2017-02-03 20:05] #109 closed

[2017-02-03 20:40] bitwalker commented on #108
This turns out to be an issue in Distillery, which I've fixed in master. Can you give the fix a shot and let me know how it works out for you? In my tests it worked as expected.

[2017-02-03 20:40] #108 closed

[2017-02-03 20:43] bitwalker commented on #91
@akurkin You can simply use the `RELEASE_CONFIG_DIR` environment variable to have the release look in a different location for the configs - no need to symlink :)

[2017-02-03 20:43] #91 closed

[2017-02-03 21:09] #85 closed

[2017-02-03 21:09] bitwalker commented on #85
Hi there! I've pushed a fix to master for this, sorry for the massive delay :(

[2017-02-03 23:26] #47 closed

[2017-02-03 23:27] bitwalker commented on #47
This should now be fixed in master, I've cleaned up the handling of mixed types in lists, nested lists, and other combinations of primitive types quite a bit, so it should work much more intuitively now - the same applies to generating schemas, so if you want to see what a datatype should look like, generate a config and see how it outputs it.

[2017-02-03 23:28] bitwalker commented on #84
This no longer appears to be an issue.

[2017-02-03 23:28] #84 closed

[2017-02-03 23:33] #68 closed

[2017-02-03 23:34] bitwalker commented on #69
ping :)

[2017-02-03 23:36] bitwalker commented on #69
Just FYI, in master, I've removed merging of nested lists, only keyword lists are merged, or unnested lists

[2017-02-03 23:36] bitwalker commented on #96
This should now be fixed in master

[2017-02-03 23:44] #75 closed

[2017-02-03 23:46] bitwalker commented on #20
This should now be fixed in master, so I'm going to close it for now. Please feel free to reopen it if there are still related issues.

[2017-02-03 23:46] #20 closed

[2017-02-03 23:47] #58 closed

[2017-02-03 23:51] #65 closed

[2017-02-03 23:52] bitwalker commented on #16
Lists with arbitrary subtypes are now working properly in master, please open a new issue if there are any problems.

[2017-02-03 23:52] #16 closed

[2017-02-03 23:53] #69 closed

[2017-02-03 23:54] bitwalker commented on #105
There is nothing built in to conform which does this, though I could probably add a custom command to provide that capability in distillery.

[2017-02-04 15:21] marcelog commented on #20
Thank you @bitwalker, great job! 👍

[2017-02-17 17:02] #9 closed

[2017-02-17 17:06] #43 closed

[2017-02-17 17:06] bitwalker commented on #43
This appears to no longer be an issue with distillery and conform (latest versions).

[2017-02-17 17:13] #66 closed

[2017-02-22 12:17] mm-tfx opened #110 "Clarification needed"
Hi,
I have a problem with making conform to work with my Phoenix application.
I would like to have possibility to control port that Phoenix should use from env variable.
I have added conform into my mix.exs, I have run mix conform.new and mix conform.configure. I had run them with preceding MIX_ENV=prod to make it work.

Then was the part that was a bit difficult for me probably because I didn't u

[2017-02-22 17:41] bitwalker commented on #110
Are you using distillery or exrm? If the latter, then you need to also include conform_exrm in your dependencies.

[2017-02-22 20:38] mm-tfx commented on #110
I am using exrm. I'll try with conform_exrm.
I'll try with Distillery as well.

[2017-02-22 20:56] bitwalker commented on #110
Would definitely recommend using Distillery if you have a choice - there is very little needed to migrate from exrm, and I'm no longer supporting exrm in any active capacity (I still merge PRs and the like, but those are few and far between these days).

[2017-02-23 05:19] nhalm2 opened #111 "cannot make empty list"
I'm having a really hard time trying to figure out how to make an empty list in version 2.1.2.  For instance, in your tests if I change `test/confs/complex_example.conf` so that it looks like this:
    some_val = foo

    sublist_example.opt1 = val1v
    sublist_example."opt-2" = val2

You end up with this:

    [my_app: [
      complex_another_list: ["$person": [age: nil], first: [username: "test

[2017-02-23 05:37] bitwalker commented on #111
You should just be able to set the default value in the schema to an empty list. If a transform modifies the value you may need to make sure it doesn't set a default as well. If that isn't doing the trick I'll take a look tomorrow morning

[2017-02-23 16:43] nhalm2 commented on #111
@bitwalker I was able to get this schema to work:
[code]

This is the result:
[code]

I did that on the 2.1.2 release tag, and that is what I am looking for.  Now my problem is I put the exact same config in an umbrella app, add conform to the top-level mix file, and then run `mix conform.effective --app=na_server` and I get this again:
[code]

I have the 2.1.2 version in my deps.  I'll keep looki

[2017-02-23 16:45] bitwalker commented on #111
Could you give master a shot? There are a number of changes which you'll want, including some fixes for umbrellas :)

[2017-02-23 16:52] nhalm2 commented on #111
I'll get something together for you.  Thanks a lot for the help.

[2017-02-23 17:44] nhalm2 commented on #111
I created an umbrella app.
https://github.com/nhalm2/conform_example

When I run `mix conform.effective --app=app1`:
[code]
I expect:
[code]

Here is an example of when I build the release and then try to run it:
[code]

[2017-02-23 18:09] nhalm2 commented on #111
Thank you!

[2017-02-24 17:41] bitwalker commented on #111
@nhalm2 Could you update your dep to `{:conform, github: "bitwalker/conform", tag: "2.2.0"}` and let me know if everything looks good to you? There are a number of improvements there, including a fix for the issue you raised.

[2017-02-24 17:51] bitwalker commented on #104
The generated config is sorted for easy navigation, but I could make this an option probably. Thoughts?

[2017-02-24 18:09] #110 closed

[2017-02-24 18:11] bitwalker commented on #105
As of the 2.2.0 tag of Conform, and master branch of Distillery, this is now possible via the `reload_config` command provided by the release boot script. Hex releases for both will be forthcoming, but I'm working on a few other changes before I do so.

[2017-02-24 18:11] #105 closed

[2017-02-24 18:12] bitwalker commented on #72
I've gone through and updated the README, and added tests which cover the examples.

[2017-02-24 18:12] #72 closed

[2017-02-24 19:07] nhalm2 commented on #111
@bitwalker Ichanged the dep and got this:
[code]

[2017-02-25 18:43] bitwalker commented on #111
Ah, you'll need to use `master` of Distillery as well.

[2017-02-27 14:05] nhalm2 commented on #111
Added Distillery `master` and now this is looking spot on.  Thanks so much for your help!

[2017-02-27 16:48] bitwalker commented on #111
Great! I'll be publishing new releases of both conform and distillery today :)

[2017-02-27 16:48] #111 closed

[2017-02-28 02:26] zaid opened #112 "Error defining a list with only one element"
Hi,

I'm having an issue where running ```conform.effective``` fails with the following error:

[code]

The issue happens when I have a list of {:atom, :binary} and the list has only one element. My current work-around is to add another dummy element that I ignore.

I am running the latest versions of conform (2.2.2) and distillery (1.2.2) and the relevant section of my schema / config are:

[code

[2017-02-28 02:33] zaid commented on #112
This looks similar to issue #68

[2017-02-28 03:48] bitwalker commented on #112
@zaid I'll take a look at this first thing tomorrow. Thanks for the report!

[2017-03-01 16:25] geofflane opened #113 "Conform 2.2.2 and Distillery Runtime Error"
Running with Conform 2.1.2 and the latest Distillery the build works and starts fine. When I update to Conform 2.2.2 (with no other changes) and I want to run the built application then I get the following `invalid mfa` error.

[code]

This is a Phoenix 1.2.1, Elixir 1.4 application.

[2017-03-01 16:40] bitwalker commented on #113
MegaMaid, awesome :)

Could you show me your `.conf` and `.schema.exs` from the release? Feel free to strip any sensitive information, but I'll need that to reproduce the issue.

[2017-03-01 17:23] geofflane commented on #113
@bitwalker Here you go.

(I renamed a couple of things, so hopefully didn't muck anything up.) Thanks for the help.

mega_maid.conf
[code]

mega_maid.schema.exs
[code]

[2017-03-01 22:34] bitwalker commented on #113
Do you have a copy of the generated `sys.config` from the release when this error occurred? It should be under `<deploy_dir>/var/sys.config`. If you don't have it, mind trying to boot your release again and grabbing that file?

Looking at your conf and schema, I'm not sure where the bad config is coming from - which implies either conform is munging something present in the default `sys.config` (i

[2017-03-01 23:16] suaron commented on #113
@bitwalker  I faced with similar issue

[code]

[2017-03-02 14:09] geofflane commented on #113
@bitwalker This is the generated sys.config. You can see the tuples that the error is complaining about that are wrong in there. Those get inserted only after I run the application and conform does its work.

[code]

The Endpoint config, for example, should look like this:
[code]

[2017-03-02 17:51] technomage opened #114 "Fails to generate schema for pooler configuration"
The following is in our config.exs file for Risk pool configuration:

config :pooler, pools:
  [
    [
      name: :riaklocal1,
      group: :riak,
      max_count: 10,
      init_count: 9,
      start_mfa: { Riak.Connection, :start_link, ['127.0.0.1',8087] }
    ]
  ]

Conform generated the following schema:

    "pooler.pools": [
      commented: false,
      datatype: [
        list: [

[2017-03-02 17:58] bitwalker commented on #114
There's a bug in translating the config to a default schema there, but conform can definitely handle keyword lists (and nested keyword lists). In general though, highly complex mappings like that are to be avoided, as you mentioned - and you are correct, in this case it should have failed to generate the schema, but it looks like it choked on some part of the `start_mfa` bit, but managed to avoid

[2017-03-02 21:43] AlexRiedler commented on #47
@bitwalker I think I may have found another case of this I am running v2.2.2;

I am using KafkaEx hex which has a format of:

(config.exs)
[code]

which goes to:

(schema.exs)
[code]

and the error is this on conform.configure:

[code]

And removing the default resolves the issue...

[2017-03-03 03:21] bitwalker commented on #112
I've got this fixed locally, just addressing some other outstanding issues before pushing a new release :)

[2017-03-03 05:23] zaid commented on #112
Perfect! I'll test it as soon as you push your changes. Thank you for fixing this so fast 👍

[2017-03-03 18:51] bitwalker commented on #113
Could you give master a shot? I've pushed a variety of fixes and added your example as a test

[2017-03-03 18:52] bitwalker commented on #114
Could you give master a shot? I believe this is now fixed.

[2017-03-03 18:52] bitwalker commented on #112
I've pushed the fixes to master, could you give it a shot?

[2017-03-03 19:31] geofflane commented on #113
@bitwalker The generated file looks like it no longer shows the problem, but the error seems to be the same. I cleaned out the build directory completely, ran a new build with the the github version of conform.

Only other thing I can think is I'm on the latest Erlang 19.2.3:
Erlang/OTP 19 [erts-8.2.2] [source] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:false] [dtrace] Elixir 1.4.2

[2017-03-04 21:12] zaid commented on #112
I just gave it a quick test and it is giving me a different error now:

[code]
The config file that I tested with can be found [here](https://github.com/Tokenize/evl-daemon-elixir/blob/master/config/evl_daemon.conf.sample)

The schema file can be found [here](https://github.com/Tokenize/evl-daemon-elixir/blob/master/config/evl_daemon.schema.exs)

The entry that it is failing on is parsed using a t

[2017-03-07 09:57] JanStevens commented on #105
Hello,

Any update on this? I noticed the `reload_config` command in Distillery and that seems to work but only for the `sys.config` file. It does not pickup changes in my `.conf` file.

[2017-03-08 20:54] #112 closed

[2017-03-08 20:55] bitwalker commented on #112
Ok, you should be good to go on master now, can you confirm before I cut a new release?

[2017-03-08 20:56] bitwalker commented on #113
I'm unable to reproduce with Elixir 1.4/Erlang 19.2. I have a test in `test/config_test.exs` for this issue, which uses your config, schema, and .conf. Could you give me the steps you are using to reproduce?

[2017-03-08 23:00] bitwalker commented on #105
It should be working now with the latest versions of Distillery/Conform.

[2017-03-09 02:46] zaid commented on #112
I'm still having an error when it tries to parse evl_daemon.zones. Here is the error message:

[code]

My mix.lock shows the following entry for conform:

[code]

Let me know if I'm doing something wrong.

[2017-03-09 03:07] bitwalker commented on #112
Oh sorry, could you look in the `test/schemas/evl_daemon.schema.exs` file? You'll see the change I had to make to the mappings/transforms for that and the `partitions` option. Transforms are executed *after* mappings are done, so you have to define a valid datatype for the initial value, even if you transform it into something totally different later.

[2017-03-09 03:35] zaid commented on #112
Oh that explains it. I just made the same changes and verified that ```conform.effective``` is returning the expected results.

Thank you for fixing this 👍

[2017-03-09 12:40] JanStevens commented on #105
Oke thanks but how? I tried `reload_config` but it only reload the sys.conf file, I only changed the `conf` file ofcourse.

Should I run something else before it so I generate a new sys.conf?

[2017-03-09 16:18] bitwalker commented on #105
What versions of Distillery and Conform are you on? `reload_config` should do it, as it runs the pre_configure hooks that were added, and which Conform uses in place of pre_start.

[2017-03-09 16:20] JanStevens commented on #105
[code]

[2017-03-09 16:21] bitwalker commented on #105
Ok, I'll do some testing and follow up

[2017-03-09 16:34] #114 closed

[2017-03-09 16:47] milafrerichs commented on #113
had the same issue as @suaron and using the master fixed it for me.

[2017-03-09 16:48] #113 closed

[2017-03-09 16:48] bitwalker commented on #113
Awesome, thanks for following up!

[2017-03-09 17:46] bitwalker commented on #105
Could you test with Conform 2.3? I'm unable to reproduce with 2.3. If you are still having an issue, can you describe how you are setting up your release and testing the reloading?

[2017-03-09 19:28] JanStevens commented on #105
@bitwalker Thanks alot version 2.3 works perfectly!

[2017-03-09 19:33] bitwalker commented on #105
Awesome!

[2017-03-10 11:29] sawater opened #115 "Transform function not work well with umbrella project"
`mix conform.effective` is fine, while error occurs when `MIX_ENV=prod mix release --name=combined --verbose` merging schema files.
[code]
I have pulled the error code to bitwalker/distillery-umbrella-test#10. May be can help you to do the test.

[2017-03-10 14:25] dpehrson commented on #96
@bitwalker Is this actually fixed on master? I'm on 2.3.0 (which appears to be the master HEAD) and get this error when running `mix conform.configure`:

[code]

[2017-03-10 18:23] bitwalker commented on #96
The problem is that this value cannot be represented in the `.conf` format. I suppose the best thing to do here would be to set it to nil, and print a warning about it. The best way to handle values like this is to set them up to take a `:binary` value, and write a transform which parses a string like "30 days" into the tuple desired.

That said, you're right this isn't entirely fixed until I come

[2017-03-10 21:42] dpehrson commented on #96
@bitwalker Thanks for the reply and all your hard work! My guess is it's the same issue at play in #113 which I also see even on 2.3.0.

I can find no combination of values that work for the values Phoenix expects for the `pubsub` key.

I'll try to use transforms.

[2017-03-10 21:53] mcelaney commented on #104
@bitwalker Sorry - been trying to get ahead of myself enough to focus on this a bit.  I'll try to tease out a failing spec that demonstrates the problem we ran in to.

Optional sort would most likely solve my problem.  We ended up just committing a dirty, dirty, dirty hack in the meantime :P

[2017-03-13 00:08] dpehrson commented on #115
I've found this too, depending on what you're doing you need to use a `:` or ``=>` after the name of the key in the transforms list. Whatever character you use, something different will error. `conform.effective` for example errors if you use a `:`.

[2017-03-13 12:58] spscream commented on #108
@bitwalker and again it is broken for me on latest version of distillery and conform - sys.args rewritten by any command :( Sorry, but I don't have enough time now to reopen new issue, downgrading to old versions.

[2017-03-13 20:09] lachezar opened #116 "Schema with atoms as default value fails to start an OTP release app"
To reproduce the bug you can do the following:

[code]

Commenting out the sections in the schema which have modules as default values mitigates the issue:
[code]

[2017-03-13 22:15] dpehrson commented on #116
Just hit this as well. I've found that a significant amount of configuration properties don't seem to be handled properly with conform. Thankfully most of them don't actually need to be run-time configurable.

Are we doing something wrong?

[2017-03-27 18:33] bitwalker opened #117 "Incorrect merging of lists"
Non-nested lists are being merged due to a loophole in the logic of a previous bugfix (#107 to be precise). The fix for this will ensure regular lists are treated like any other value and not merged.

[2017-03-27 18:34] #117 closed

[2017-03-28 18:39] bitwalker commented on #108
I recently encountered this in my own application, and found the problem - some of the logic around setting up vm.args and sys.config was not re-entrant, and would cause them to be set improperly. Give the latest versions of both conform and distillery a try and let me know if you are still running into problems.

[2017-03-29 21:14] dpehrson opened #118 "Enhancement(?): ReleasePlugin should choose .conf filename based on distillery environment, not Mix environment"
## Scenario

In my setup I have two deployment environments, `staging` and `production`, the both are built using `MIX_ENV=prod`, and their releases differ only in the conform configuration values I would like to bundle (hostnames, security keys/tokens, etc.)

## Expected behavior

Executing `MIX_ENV=prod mix release --env=staging` should utilize `my_app.staging.conf`

## Actual behavior

Executin

[2017-04-03 12:08] DieMaske opened #119 "Binary is interpreted since 2.3.2"
Hello,

we do use the following structure in our .conf file:
`survey.test=[{"user":"someuser", "password":"somepassword", "roles":["role1","role2"]}]`

the corresponding schema-rule does look like this:

[code]

before upgrading from 2.3.0 to 2.3.2 the input was the same as the output and we could process the data of survey.test via the transforms-property in our schema:

[code]

This just worked

[2017-04-03 15:27] dpehrson opened #120 "Distillery custom command not running with conform configuration values"
Hello all, I have the following shell script registered in my distillery configuration as the `migrate` custom command:

[code]

The actual function is modeled very closely after the one in the distillery documentation.

However after building and deploying a release, attempting to run it results in an error:

[code]

In this case the `db:5432` would be the default database host/port from my mix c

[2017-04-06 20:47] jschniper commented on #115
I've run into this as well. ~2.2 works but 2.3.0 and 2.3.2 both fail. I haven't tried 2.3.1.

[2017-04-06 21:09] dpehrson commented on #115
FWIW I have since stopped using confirm and fallen back to using just distillery + `REPLACE_OS_VARS`. I ran into far too many problems trying to get conform to work.

[2017-04-11 15:18] umatomba commented on #120
Hi @dpehrson. The issue is that the `command` don't run a conform hook (https://github.com/bitwalker/distillery/blob/master/priv/templates/boot.eex#L782). You can try to use SYS_CONFIG_PATH variable, to tell where right/old sys.config is placed and trigger conform manually, but i think we need some better solution. Ping @bitwalker

[2017-04-11 15:24] umatomba commented on #120
I also see, pre_hooks was added but after some time removed again (https://github.com/bitwalker/distillery/commit/b8f45e16b83c3831fb24fce3957ed7a3382bfd38#diff-8e1a1749b553223a5202b250e93f3e57)

Maybe the using of configured hooks may be the solution for all problems here? In this case someone who needs it can enable some special hook using release configuraton like here: https://hexdocs.pm/distil

[2017-04-11 15:55] dpehrson commented on #120
For what its worth. I've since removed conform from my deployment process and switched back to simply using distillery with `REPLACE_OS_VARS`. It's a much simpler setup I would recommend for anyone who doesn't REALLY need the "ops friendly config file".

[2017-04-12 17:20] bitwalker commented on #120
The solution here is for me to expose functions to custom commands to run hooks for various phases, e.g. `run_hooks pre_start`, which would then allow custom commands to use hooks as needed.

@dpehrson I would absolutely agree, the use case is oriented more towards handing your apps off to an ops team or even customers (my current situation), in which case conform is a complex, but extremely usefu

[2017-04-12 17:26] dpehrson commented on #120
@bitwalker Distillery and conform are both awesome, I think most of my confusion stemmed from the fact that conform wasn't a tool I needed to use for my particular situation (lone dev/op)

Thanks for all your hard work on both pieces of software.

[2017-04-12 18:11] bitwalker commented on #120
Yeah definitely understandable - I wish it was easier to use, but I've never had the spare time to work on that aspect of the project :(. Thanks for the kind words!

[2017-04-15 17:28] developerworks opened #122 "The generated schema file has a syntax error"
Elixir 1.4.2
Conform 2.3

When i was run the `mix conform.configure` command, the following error raised.

![image](https://cloud.githubusercontent.com/assets/725190/25065547/6a2a6b38-2244-11e7-8131-deac6a911560.png)

The config file

[code]

The generated schema file syntax error position:

![image](https://cloud.githubusercontent.com/assets/725190/25065639/b2e52f06-2245-11e7-9169-b11408d047cd.pn

[2017-04-15 17:54] developerworks commented on #122
included in square bracket is ok

Also the tuple issue

![image](https://cloud.githubusercontent.com/assets/725190/25065750/94001f86-2247-11e7-82da-57a5d74d51d6.png)

[code]

[2017-04-19 09:50] spscream commented on #108
@bitwalker thanks for update!
Just returned from vacation and checked latest versions of distillery/conform and now it is working for me :)

[2017-05-15 11:23] MichaelKunze commented on #119
Ran into the same problem. Any progress?

[2017-05-18 01:56] bitwalker commented on #119
The issue here is that you are using syntax in the config file which is used by the config parser. You need to quote the JSON string, and escape the embedded quotes. The parser in 2.3.0 had a few bugs, which was likely why this worked at all to begin with, but it really shouldn't have.

[2017-05-18 01:56] #119 closed

[2017-05-18 03:42] bitwalker commented on #96
Generation of the .conf will no longer be blocked by this issue starting in 2.3.3, but a warning will be printed informing users that the value could not be automatically stringified. It will be up to the user to figure out how to encode such values in the .conf, whether by using a string and transforming it, or using some other mixture of types.

[2017-05-18 03:42] #96 closed

[2017-05-18 03:42] bitwalker commented on #122
This is fixed in 2.3.3, should be up shortly

[2017-05-18 03:42] #122 closed

[2017-05-18 03:49] bitwalker commented on #116
Conform can only do so much to generate the config files for you - the idea was to give you a hefty head start, but that some manual intervention would always be required to get things to work the way you want them to.

Conform is intended to have some thought put in up front to build a schema that takes a simple, easy to use form (the .conf) and convert it to the far more complex datastructure re

[2017-05-18 03:55] bitwalker commented on #116
Looks like this is working as of 2.3.3, which I'm about to push.

[2017-05-18 03:55] #116 closed

[2017-05-25 15:32] meinac commented on #47
I've encountered with the similar issue which @AlexRiedler faced before while using `kafka_ex` library and solved by using transforms. The problem is, `kafka_ex` is waiting for a list of tuples which consist of binary and integer pairs. But I think there is no way to handle list of tuples in conform.
But if you use `ip` data type it will almost lead you to solution. I say almost because `ip` datat

[2017-06-21 07:05] kenuyx opened #124 "no function clause matching in Conform.Translate.to_config"
When I was using `edeliver` to start a well-deployed app in a staging host, I got an error like this.

[code]

When I run `/deps/conform/priv/bin/conform --conf config/armrest.conf --schema config/armrest.schema.exs` on my own computer, `sys.config` is successfully generated. But if I run the same script on the staging host, the error occurs. I haven't find out the reason.

[2017-06-21 09:06] kenuyx commented on #124
It seems that the generated `sys.config` is wrong. The one on my staging host `/releases/0.1.0` is:

[code]

While the one generated by `mix conform.effective` is:

[code]

[2017-06-21 15:07] kenuyx commented on #124
I think I know the reason. The version of `Erlang/OTP` must not greater than 19.

[2017-06-21 15:07] #124 closed

[2017-06-21 18:43] bitwalker commented on #124
I've fixed this in master, I'll be pushing a new release soon.

[2017-06-21 18:45] #120 closed

[2017-06-21 18:49] bitwalker commented on #118
`MIX_ENV` is really what you want to be using here. Distillery "environments" are profiles for how the release itself is built/packaged, but is not intended to reflect runtime or configuration environment specifics (such as configs). My recommendation here is to define your own environment, e.g. `MIX_ENV=staging`, and ensure the settings in `mix.exs` like `build_embedded`, etc., treat `MIX_ENV=sta

[2017-06-21 18:49] #118 closed

[2017-06-22 18:35] bitwalker commented on #47
Conform now warns when generating configs that have unencodable types (such as a tuple like that). It will still generate the .conf, but it will have an empty value for that setting. The key here is to do something along the lines of @meinac's solution - choose a type that you can parse easily, and use a transform to convert it into the type you actually need.

[2017-06-26 21:57] lachezar commented on #124
I think you also need to re-compile the escript file for the changes in the `to_config` to become active - https://github.com/bitwalker/conform/blob/master/priv/bin/conform.

Now I know what escript is :D

[2017-06-28 20:08] bitwalker commented on #124
@lachezar Thanks! Done, and pushed to hex as 2.3.5

[2017-06-28 21:52] aaronrenner opened #125 "undefined function `conform_escript:main/1` error"
I get the following error when trying to start my app after upgrading to 2.3.5

[code]

I am running on ubuntu 14.04 and my application was built with edeliver+ distillery. I did not see the issue in 2.3.3. Please let me know what other info would be helpful.

[2017-06-28 22:39] bitwalker commented on #125
Oh damn, I know what happened, I built the escript on my machine which has OTP 20 installed, looks like something changed, I'll fix that straight away.

[2017-06-28 22:42] bitwalker commented on #125
I've published 2.3.6 and retired 2.3.5, should be good to go now!

[2017-06-28 22:42] #125 closed

[2017-06-29 14:55] aaronrenner opened #126 "Generated sys.config is overwritten when running bin/<app_name> ping/console/etc"
I'm having an issue where if I start my app using edeliver, the sys.config file does not have the changes from the <app_name>.conf file merged in, but if I manually run `bin/<app_name> start`, the <app_name>.conf changes are merged in successfully. I am using distillery to package my app.

I've been trying to dig through edeliver to see how it's starting the app, and am having trouble seeing if it

[2017-06-29 14:56] aaronrenner commented on #125
That fixed it! Thanks! 🎉

[2017-06-29 17:12] aaronrenner commented on #126
So it appears that `<release_name>/releases/<version>/<release_name>.sh` is clobbering `<release_name>/var/sys.config` if `<release_name>/sys.config` isn't found (https://github.com/bitwalker/distillery/blob/a895ce0f519f36efb93124c41048c75f82a5a591/priv/templates/boot.eex#L324-L340)

The problem is edeliver runs `<release_name>/releases/<version>/<release_name>.sh` multiple times, and it only runs

[2017-06-30 16:53] bitwalker commented on #126
Wait, edeliver is invoking the script in `<deploy_dir>/releases/<version>` directly? That would explain *a lot*.

[2017-06-30 17:03] aaronrenner commented on #126
I'm not sure edeliver that is actually calling `<deploy_dir>/releases/<version>` directly. I put a lot of log statements in the deploy scripts on the server to figure out what's happening and I'm not sure if another script calls `<deploy_dir>/releases/<version>/<release_name>.sh`.

Here's how to reproduce it without edeliver even being in the picture:

1. `./bin/<app_name> start`
2. Look at `var/s

[2017-06-30 17:04] bitwalker commented on #126
Anyway, to clarify, anytime the boot script is invoked, an internal function `_init_configs` is called. This function is pretty complex, because it will be invoked recursively, and in some cases multiple times (such as during an upgrade/downgrade when the configs need to be unpacked, and then updated). This overwrites `/var/vm.args` and `/var/sys.config` every time, unless the current env's `VMARG

[2017-06-30 17:04] bitwalker commented on #126
Yes, you're correct :)

[2017-06-30 17:06] bitwalker commented on #126
After another moment of thought, I'll have to be more careful than just running `pre_configure` from `_init_configs`, since at that point the release environment is not fully ready, so hooks would have to be very careful what they do (particularly they would need to avoid running any commands which invoke the boot script again to avoid an infinite loop).

[2017-06-30 18:01] bitwalker commented on #126
So I've pushed a fix to Distillery master which addresses this, give it a shot and feel free to reopen this if there is still an issue! I'll be pushing a new release to hex pretty soon.

[2017-06-30 18:01] #126 closed

[2017-06-30 18:01] aaronrenner commented on #126
Thank you so much. I'll check it out!

[2017-06-30 19:55] aaronrenner commented on #126
Just tested it out with Distillery master and it works great! 🎉

[2017-06-30 21:07] bitwalker commented on #126
Great! I'll get that released ASAP

[2017-07-13 15:44] lachezar opened #127 "Error when using Conform + Distillery in an umbrella project (RangeValidator added to the mixed schema)"
Here is a demo umbrella project that can let you reproduce the problem easily: https://github.com/lachezar/test_conform_umbrella

I tried to debug it and potentially fix it, but it turned out to be way more complicated than what I can handle. Also may be the problem is not related in any way to Distillery.

The main problem is that when you compile a release of the project, the mixed schema of all

[2017-07-14 16:46] ngw opened #128 "no function clause matching in Conform.Translate.to_config/3"
Hi, it's a few days I'm losing my mind on a problem with conform (2.3.7) that can't read my configuration and use it to start a distillery app (1.4.1).
My question is mostly about how to debug this, because the problem is gathering enough informations to understand the problem.
First of all the error raised: https://gist.github.com/ngw/d37fbb9fd126dac1ac64a32dc1cf131b
MIX_ENV=prod mix conform.conf

[2017-07-14 17:02] bitwalker commented on #128
Looking into this shortly!

[2017-07-14 17:48] bitwalker commented on #128
Could you give 2.3.8 a shot? It looks like the escript was outdated - either that or you weren't actually on 2.3.7 (this can happen if you forget to run `mix deps.update` after updating `mix.exs`).

[2017-07-14 17:49] bitwalker commented on #127
Taking a look at this today. Thanks for reporting!

[2017-07-14 20:22] #127 closed

[2017-07-14 20:22] bitwalker commented on #127
I just pushed 2.3.9 with some improvements and a fix for this - can you give it a shot and report back?

[2017-07-14 20:23] bitwalker commented on #128
2.3.9 is now out with some other improvements and small fixes - let me know how it goes!

[2017-07-14 20:27] bitwalker commented on #115
Just FYI, the issue with `:` vs `=>` sounds like a confusion on how you can represent atom keys in lists (the syntax of which is of course used in the schema since it's an Elixir data structure). You should never be using `=>` in lists (it's invalid syntax) - and if you were defining transforms as a map, that's likely why there was a problem in the first place.

[2017-07-14 20:27] #115 closed

[2017-07-14 20:35] bitwalker commented on #104
Automatic sorting is now disabled except when pretty printing to the terminal :)

[2017-07-14 20:35] #104 closed

[2017-07-14 20:49] bitwalker commented on #35
This is now fixed in master (staged for 2.4.0 release)

[2017-07-14 20:49] #35 closed

[2017-07-14 20:50] #101 closed

[2017-07-14 22:17] lachezar commented on #127
Yeap, the new version fixed the issue! Thanks :)

[2017-07-14 22:32] bitwalker commented on #127
No problem!

[2017-07-16 14:33] ngw commented on #128
Hi, I'm under 2.4.0 now, and absolutely nothing changed. I really don't know what else to do.
I'll try to post my schema and config here:

https://gist.github.com/ngw/c41a55f221177d1f7a059e38778aa62e
https://gist.github.com/ngw/64f31f0ac76bc66abdb65358d0a00a72

I'd like to note that when I deploy the transform array is still empty, and as you can see there's a transformation in my schema (the ttl)

[2017-07-16 14:35] ngw commented on #128
BTW

    ngw@blackstar  ~/hedging-ledger   master  cat mix.lock|grep conform
    "conform": {:hex, :conform, "2.4.0", "09ced3c81630885ecd6fb1ca696f3ca58ba4d705e51dc4bab2620c304ea0f9c9", [:mix], [{:neotoma, "~> 1.7.3", [hex: :neotoma, repo: "hexpm", optional: false]}], "hexpm"},

[2017-07-16 15:51] bitwalker commented on #128
To be clear - you are still seeing the error message from the original post?

[2017-07-16 23:03] ngw commented on #128
Yes, it's the same error message.

[2017-07-17 00:30] bitwalker commented on #128
I'll try and reproduce later tonight or in the morning and get back to you, sorry for the trouble!

[2017-07-17 16:31] ngw commented on #128
Alright, this was crazy hard but I found the culprit.
After building the release we're using fpm-cookery and that is what is building an old conform (2.1.1). That old conform doesn't obiously do well with the files created by 2.4.0.
Hopefully this will come handy to someone else before they come bothering you like we did.
Thanks a lot for your help.

[2017-07-17 16:31] #128 closed

[2017-07-17 16:42] bitwalker commented on #128
Oh wow, nice find! I was losing my mind because the stack traces didn't match the source code for the version and I had no idea how that was possible. Thanks for reporting back!

[2017-07-17 22:35] aaronrenner opened #129 "Commented: true doesn't appear to be working"
I'm on 2.4.0 and it appears at `commented: true` is not working.

Here is my schema:
[code]
And here is what is generated:
[code]

From reading the documentation, I think `honeybadger.environment_name` should be commented out.

[2017-07-19 18:20] ngeraedts opened #130 "Application configuration not available in Plug"
I'm trying to enable and disable a static route in Plug using a configuration parameter supplied by Conform. The application has the expected behaviour when run directly via Mix, but fails to pick up the right values when the values are parsed by Conform.

I've written a minimal application that reflects the behaviour I'm experiencing in my parent application. Any insight would be appreciated.

ht

[2017-07-19 20:18] bitwalker commented on #130
Your example project works in 2.4.0 just fine. It looks like there is some kind of problem with 2.2.0 though, can you upgrade?

[2017-07-19 20:18] #130 closed

[2017-07-19 20:42] ngeraedts commented on #130
I've updated to 2.4 with the same results. I'm not sure if this is a specifically a Conform issue, or a Plug issue, or an edge case between the two (or I'm doing something horribly out of left field).

When I run the `prod` release, the result of `Application.get_env(:test_plug_static, :static)` in the console is correct, but the logic at [http.ex:5](https://github.com/ngeraedts/test_plug_static/b

[2017-07-19 20:50] bitwalker commented on #130
That code is being run at compile-time, not runtime - in other words it is evaluated when you are building the release, not when you run it.

[2017-07-19 21:05] ngeraedts commented on #130
I figured it was the compile/runtime difference. I'm still trying to determine at a glance when each of them occurs. Do you have any insights about how to mimic the behaviour I'm looking for?

That being said, Conform has made the rest of my release configuration a breeze!

[2017-07-19 21:14] bitwalker commented on #130
My trick is to look and see if the code is inside a function body - if it's not, it's almost certainly being evaluated when the module body is evaluated, which happens at compile-time. The only exception to this would be if a macro takes a `do` block which contains some code - in those cases it's likely that the block will be evaluated at runtime. In your case, the macro is taking options, but tho

[2017-07-19 21:44] ngeraedts commented on #130
I've taken the release tarball generated by Distillery and repackaged it with an init script into an RPM for the systems team to easily deploy. They like packages and configuration files; sadly, Docker is out of the question for a few months at least.

The main application provides a JSON API and is configured in production to pull assets from an external URL. These tarballs contain other code (ty

[2017-07-19 21:45] ngeraedts commented on #130
And your note about code being inside/outside a function body does help. I'll try to keep that in mind. :)

[2017-07-19 21:50] bitwalker commented on #130
Ok, in that case the code you have now is fine, but you won't need to configure the `static` option with Conform, you can remove it from both the `.conf` and the `.schema.exs` - if you know that only in dev you will need the Static plug enabled, then in `config.exs` do the configuration necessary to enable it and configured it as desired. In your `prod.exs` - simply set it to `nil` so that it is d

[2017-07-19 22:10] ngeraedts commented on #130
That approach certainly would work. The main drawback with building two releases is that we'd end up with different RPMs for production and development. I'll have to mull over my options and see what seems to fit best.

Thanks for the discussion and insights.

[2017-07-19 22:13] bitwalker commented on #130
The alternative is to work with Plug at a lower level where you can dynamically inject routes into the pipeline - but you sacrifice a lot for that flexibility. Basically you'll need to move away from compile-time configuration for this, and unfortunately there isn't a good way to do that with the Plug.Builder macros.

[2017-07-26 10:10] pgrunwald opened #131 "Elixir 1.5.0 - erlang error: {:badrecord, :elixir_erl}"
### Environment

Operating system: macOS 10.12.5 (16F73) / Darwin 16.6.0
Erlang/OTP 20.0
Elixir 1.5.0 and 1.4.4
Conform 2.4.0

### Current behavior

After upgrading to Elixir 1.5.0, I encounter the following when creating a release and running commands:

[code]

I can confirm everything is working as expected with Elixir 1.4.4, the only change is the Elixir version. I ran `mix do deps.clean --all,

[2017-07-26 13:11] bitwalker commented on #131
That's strange - I'll update to 1.5 today and take a look.

[2017-07-26 13:24] bitwalker commented on #131
I can't reproduce locally on master - what version of Conform are you seeing this with?

[2017-07-26 13:57] bitwalker commented on #131
I wasn't clear in my question, but could you confirm the version stored in `mix.lock`?

[2017-07-26 13:59] pgrunwald commented on #131
@bitwalker, here is the line for `conform` in my `mix.lock`:

[code]

[2017-07-26 14:02] pgrunwald commented on #131
@bitwalker, there is also a related issue here: https://github.com/elixir-lang/elixir/issues/6365. The solution suggested by @lachezar doesn't seem relevant in this case.

[2017-07-26 14:05] pgrunwald commented on #131
@bitwalker, additionally, I am using `distillery` for release packaging. I'm not sure if that would affect anything. Here is the line for distillery in my `mix.lock`:

[code]

[2017-07-26 14:23] lachezar commented on #131
I think the problem stems from the fact that the [conform escript](https://github.com/bitwalker/conform/blob/master/priv/bin/conform) was built using elixir 1.4.X and you are trying to run your OTP release with 1.5 ERTS. I did a fork (as a temp solution) and recompiled the escript and it worked - https://github.com/lachezar/conform/tree/elixir-1.5.0

[2017-07-26 14:35] pgrunwald commented on #131
@lachezar, apologies, I misinterpreted what you meant in the other thread, that makes sense.

[2017-07-26 15:43] bitwalker commented on #131
I've pushed a new tag, 2.5.0, containing the fix for this. I've tested across various combinations of OTP 19.3/20 and Elixir 1.4.5/1.5.0 with success. I'll push a new release to hex shortly.

[2017-07-26 15:43] #131 closed

[2017-07-31 12:06] tenkai9 opened #132 "Conform fails to parse schema for umbrella app during release generation"
Hi

I've been migrating my umbrella project to Erlang 20 and Elixir 1.5.0. I upgraded confrom from 2.1.2 to 2.5.0 to get latest fixes for Elixir 1.5.0 but now I have an error from conform plugin during release generation with distillery.

[code]

I looked at the schema by dumping input argument for [`Conform.Schema.parse!/1`](https://github.com/bitwalker/conform/blob/master/lib/conform/schema.ex#L

[2017-08-02 18:05] aaronrenner opened #133 "Schema not found message with multiple level schema extends"
I have an umbrella app with the following apps
[code]
myapp1 has a conform dependency tree like this: `myapp1 -> models -> utils`. When I try to start the app in my distillery release (`./bin/myapp1 start`), I get the following output:

[code]
The app starts up just fine and the settings that are defined in utils.schema.exs are properly mapped to var/sys.config, but I get this error message. As a

[2017-08-08 17:55] evax opened #136 "Failing to parse binary"
Conform is failing to parse my config file with this error:

```Expected value of type `:binary`, got "$date $time [$metadata] [$level] [$message]\n"```

That looks like a legit `:binary` to me.

Looking at the code it seems it's always expecting things to be wrapped in a list:
https://github.com/bitwalker/conform/blob/master/lib/conform/translate.ex#L321-L326

Applying the following patch fixes t

[2017-08-09 18:33] bitwalker commented on #136
Damn, can't believe that was missed. Nice catch! I can make the patch myself, but if you'd like the credit, open up a PR with your patch and I'll merge it right away. Thanks!

[2017-08-09 18:39] evax commented on #136
Glad I could help, thanks for the amazing tooling work you've been doing!
https://github.com/bitwalker/conform/pull/137

[2017-08-09 18:43] bitwalker commented on #136
I'll publish a new release this afternoon with your fix, thanks again!

[2017-08-09 18:43] #136 closed

[2017-08-09 18:48] #129 closed

[2017-08-09 20:22] aaronrenner commented on #129
Thank you!

[2017-08-23 13:20] mbaeuerle opened #138 "Does conform work without release?"
Is it possible to use conform like described in the docs when using `mix phx.server` (using phoenix) or `iex -S mix` or with `mix test`?

I tried `iex` and `test` but both didn't seem to work. In both cases the value from `config.exs` was used when fetching the property with `Application.get_env()`.

So is this lib only intended to use in conjunction with destillery or can it also be used in devel

[2017-09-20 14:19] mcelaney commented on #104
Thank you!

[2017-09-27 04:07] highbass opened #140 "UndefinedFunctionError - module Conform.Conf is not available"
I am following the guidelines to get conform running and run into the following error and can't seem to figure out whats causing it.

[code]

[code]

This is the part that throws the error. I can't seem to figure out whats causing it.

[code]

[2017-09-27 05:15] bitwalker commented on #140
That's very strange - did you upgrade conform recently? What version is this by the way?

[2017-09-28 23:48] highbass commented on #140
@bitwalker it is version 2.5.2

[2017-09-29 00:01] bitwalker commented on #140
@highbass What happens if you add conform as a dep to each of the child applications in the umbrella? I think I know what's going on here, but want to confirm it is what I think it is.

[2017-09-29 00:09] highbass commented on #140
ooo that did the trick! works fine after your suggestion.

[2017-09-29 00:35] highbass commented on #140
@bitwalker I am not sure if this is related to the current release or I am just making a dumb mistake. The real issue that I am having is trying to get distillery and conform working together. I generated my schema/conf files and then went ahead and created my release

`$ mix release
...
==> Release successfully built!
    You can run it in one of the following ways:
      Interactive: _build/dev/

[2017-09-29 02:09] highbass commented on #140
I figured it out after some intense debugging. Setting "set include_erts: true" fixed the problem ... seems like an escript issue potentially related to https://github.com/elixir-lang/elixir/issues/2970

[2017-09-29 04:28] bitwalker commented on #140
Conform doesn't embed Elixir, but rather sets ERL_LIBS to point to the elixir libs included in the release. I suspect there may be an issue if the Erlang running the release does not match the one it was built with, but that was one of the original motivating reasons for *not* embedding Elixir (i.e. the same version of Conform could work on both OTP 19 and 20, while embedding Elixir would fail on

[2017-09-29 04:28] #140 closed

[2017-11-07 18:57] IRog opened #142 "Failed to parse .conf! from autogenerated .conf file with very simple schema"
[code]

My schema looks like the following and was used to generate the conf file

[code]

I tried adding :snowflake to my imports and also commenting out the snowflake things, but then it just blows-up on parsing the next section. `mix conform.effective` works when I specify not a prod env, but the file that's being generated has some problem.

[2017-11-08 14:22] janispauls opened #143 "pre_configure.sh missing - mix release fails with distillery v1.4.1"
[code]

After upgrading distillery to 1.5.x it works fine. I will probably upgrade to 1.5.x, just wanted to let You know the issue exists since it looks like it's supposed to work: https://github.com/bitwalker/conform/blob/bde49a10d122bf5d8c6931f90cb1e88a0fa1b793/lib/conform/releases/plugin.ex#L53

[2017-11-10 12:23] madebyherzblut commented on #138
I like to know as well if there is a way to use conform outside of releases. To have a single way to configure our application would be nice!

[2017-11-17 08:39] trarbr opened #144 "Release fails on start because of blank SYS_CONFIG_PATH in 00_conform_pre_configure.sh"
I have an Elixir application that uses Distillery and Conform to build and configure releases. It works great, but I recently ran into issues when trying to upgrade Elixir version. Upgrading from Elixir v1.4 to v1.5 required upgrading Distillery and Conform, and now I am unable to start the release after deployment.

Previous versions (works fine):

- Elixir v1.4
- Distillery v1.4.0
- Conform v2.3

[2017-11-21 06:56] aeons commented on #142
You're giving it a binary while you have specified the data type to be a list of binaries.

Try with `snowflake.nodes = ["127.0.0.1"]`

[2017-11-21 08:03] aeons opened #145 "Environment variables should override .conf values"
I would prefer environment variables to override values that are set in .conf files.

This means that you can deploy the app with a set of sane defaults, and then easily change the configuration at runtime by setting environment variables.

We deploy stuff using containers, so editing files to eg. increase the log verbosity is not ideal.

Of course you could just use environment variables for ever

[2017-11-22 05:20] IRog commented on #142
It is already that

[code]

[2017-11-23 11:56] vasspilka opened #146 "Support for tuples"
I see there is no support for the tuple type, [guardian](https://github.com/ueberauth/guardian) and [quantum](https://github.com/c-rack/quantum-elixir) use tuples for their configuration also we use it for some of our specific configuration.

I can see the problems with the tuple type, just opening a discussion.

[2017-11-27 21:10] aaronrenner commented on #133
I just ran into this issue on a separate project. Is there a way we can have multiple levels of extends in the schemas?

[2017-11-29 11:04] Ilyes512 opened #147 "Is it possible to set vm.args variables like the cookie"
Hey,

I have been playing around with Distillery and Conform and I was wondering if it is possible to set the Erlang cookie in vm.args (`-setcookie "cookie?"`). I have my POC online here on Github [Ilyes512/elixir_hello_world](https://github.com/Ilyes512/elixir_hello_world).

I am still figuring it all out and trying to find a good way of handling the DevOps side. I got it running, so thats good :

[2017-11-30 17:22] Ilyes512 commented on #147
I guess it's not (yet?) implemented:
https://github.com/bitwalker/conform/issues/19
https://github.com/bitwalker/conform/milestone/1

This can probably be close as there is already an issue open?

[2017-12-11 08:20] bobek commented on #138
Let me share what I have found so far. Both Elixir as well as Ecto has implemented `init` callback. For example Ecto repo definition can now looks like:

[code]
So this could be on one of places, where one can extract app level configuration from conform and shove it back to appconfig. But to be honest, I am still not really sure, if this is the right approach.

[2017-12-14 12:55] lachezar commented on #145
You could set defaults in the schema file, which will be overridden by env vars if defined.

[2017-12-21 14:39] aeons commented on #145
Yeah, that is one solution, it still isn't optimal IMO.

[2018-01-12 21:38] trarbr commented on #144
I needed to upgrade the system again this week, and ran into the issue once more. But I found a way around it.

In order to deploy, we build the release locally using docker, ship the tarball to the server and extract it to the app directory. On subsequent releases, we always extract the files into the same directory, and restart the application. We haven't gotten into the habit of bumping the ver

[2018-01-12 21:38] #144 closed

[2018-03-06 02:36] lswith commented on #138
This is something I think should be put on the main documentation. It seems it doesn't say anywhere that conform doesn't work out of the box with `mix run --no-halt`.

[2018-03-16 07:31] arnomi opened #150 "Empty lists in .conf file"
Hi,

I might be missing the obvious, but I am not getting it to work. I want to have a config option to set a list of atoms which may be empty. My schema.exs is the following

[code]

From this conform generates (via conform.configure) the following .conf file:

[code]

This works fine, as long as I specify any value for `foo.bar`, such as

[code]

But in case I do not specify anything on the righ

[2018-03-27 23:27] jerel commented on #132
@bitwalker do you have any ideas what may be going on here? Anonymous functions do not appear to work for transforms (at least in umbrella projects). I've been a ways down the rabbit hole and can't figure out what's going on. When I start a shell and read the file, then call `Code.string_to_quoted`, and `Code.eval_quoted` it evals fine but when building a release it thinks there's a syntax error.

[2018-04-09 19:45] aaronrenner commented on #133
Just bumping this issue. I have a couple umbrella apps which have 3-4 OTP releases apiece, and conform not being able to extend a tree of configs means I have to manually go through and figure out all of the app dependencies of each release and extend them in the released app's <app_name>.schema.exs. Conform is awesome, so it's worth this pain I'm facing, but if a fix isn't too hard, I'd really ap

[2018-04-11 10:12] chandradot99 opened #152 "No support for types such as tuples."
I am working on an application which uses [quantum](https://github.com/quantum-elixir/quantum-core) library and in its configuration we have to do something like this

[code]

which will generate the following schema
[code]
with this schema when I am trying to generate `.conf` file, it gives me the following error.

`Unable to stringify my_app.Elixir.MyApp.Scheduler.jobs.send_message.task, unrecog

[2018-04-12 13:37] krgn opened #153 "release with distillery in :prod env not working"
I have a strange problem with a project I'm trying to add conform to. When I build a release in `:dev` env using `mix release --verbose` the `conform` plugin is used to copy all files into the respective directories.

[code]

However, if I do the same in `:prod` (using `--env=prod` or `env MIX_ENV=prod`) those same hooks are not being executed and the schema/hooks are missing from the release.

[c

[2018-04-25 09:02] krgn opened #154 "app not starting when configured using conform"
I am encountering a strange issue with a couple of projects that involve `gelf_logger`, `distillery` and `conform`. I can reliably reproduce the error in my sample project [located here](https://github.com/krgn/logger_conform_repro).

The error occurs, when I build a release that includes `conform` and start the app like so:

[code]
This outputs:

[code]

Without `conform` the app just starts:

[c

[2018-04-27 09:33] krgn commented on #154
I figured out that the offending config option was

[code]

Removing this from the schema makes it all work again.

[2018-04-27 09:33] #154 closed

[2018-04-27 12:30] surik commented on #132
Hi, I'm experiencing the same issue and trying to understand what the problem is.

For me it looks that `Conform.ReleasePlugin` does `Conform.Schema.load` and then writes result to a temporary file. The problem is that `Conform.Schema.load` is not made that way to use it to writing a file. The `load` function basically does the following:

[code]

See https://github.com/bitwalker/conform/blob/mast

[2018-05-18 20:14] mertonium commented on #146
This is also a problem for the [redix_sentinel](https://hex.pm/packages/redix_sentinel) lib - where the mix config looks like:
[code]
@bitwalker if you could provide some guidance on how a config like this is supposed to look in `.conf` format, I could take a crack at implementing a `write_datatype` function.

[2018-05-21 23:19] mertonium commented on #146
@vasspilka - for what it's worth, I solved my problem with transforms.

I changed my schema to look like this:
[code]
and then added a transform like this:
[code]

[2018-05-22 09:57] vasspilka commented on #146
Yes, that's what I ended up doing as well :) . I am closing this issue in favor of Transforms https://hexdocs.pm/conform/getting-started.html#content Sadly they are not well documented but that is another issue, I could great a PR with better docs for Transforms, Types @bitwalker is there interest for this?

[2018-05-22 09:57] #146 closed

[2018-05-22 09:59] vasspilka commented on #152
@chandradot99 This is a duplicate of https://github.com/bitwalker/conform/issues/146, if you have questions regarding Transforms let me know

[2018-05-22 10:04] vasspilka commented on #152
Basically, conform by itself is very limited to the kind of types it supports. But you can use the binary type and create complex configs with that string. I like separating tuples simply with space ` ` and then do something like
[code]

[2018-05-23 17:39] #152 closed

[2018-06-11 13:10] Stratus3D commented on #132
I also experienced this same issue on version `2.5.2`. Downgrading to `2.1.2` fixed the issue. I also tried version `2.3.9` and it did not work either.

[2018-06-16 21:38] brandonparsons opened #155 "Troubles getting started"
Hi there,

I'm trying to get started for the first time with conform. Having some trouble with what I thought would be the easy part! :)

I have an umbrella app - one of the applications inside houses an `ecto` repo. I decided to try to start pulling in conform in that app as it would be easiest to know if something was broken.

I've created `shared_repo.schema.exs` and `shared_repo.dev.conf`. If

[2018-06-18 07:04] happysalada commented on #155
Ok After some more research on this
looking into my release directory, there is a sys.config file that has the missing env variables
`/test/union/releases/0.0.23+7cce925-staging/sys.config`
But when I start my app it says that the following config file was generated
`/test/union/var/sys.config` and this one is correct.
How do I tell the start script to use that sys.config file instead of the other

[2018-06-24 16:48] brandonparsons commented on #155
@happysalada Did you manage to figure anything out on this? I'm still stuck...

[2018-06-24 23:19] happysalada commented on #155
@brandonparsons so in the distillery library it talks about several environment variables that you can configure (stuff like [RELEASE_CONFIG_DIR](https://hexdocs.pm/distillery/runtime-configuration.html#content), find some more [here](https://github.com/bitwalker/distillery/blob/master/docs/shell_scripts.md)). I tried changing some of them but couldn't get it to work. Maybe you'll be luckier.

Wha

[2018-06-25 13:58] brandonparsons commented on #155
I have been using distillery, and specifically tried using Conform to get
away from that stuff. Hopefully @bitwalker can chime in at some point.

On Sun, Jun 24, 2018 at 5:19 PM Raphael Megzari <notifications@github.com>
wrote:

[2018-07-24 00:43] Fire-Dragon-DoL commented on #155
Hello. Facing a similar problem.
I got everything "working" from the `conform` side, in the sense that I was able to produce a `sys.config` file for my **dev** environment which is loaded using: `iex --erl "-config $PWD/sys.config" -S mix phx.server` (I know it's correctly loaded because if I enter gibberish, the app doesn't start).
But then everything in there gets ignored.

Is there any way to u

[2018-07-25 10:14] artospaj opened #156 "`default: []` not working in umbrella release"
**Version: 2.5.2**

I have umbrella release with multiple `*.schema.exs` files. When I define mapping key:
[code]
then the resulting, merged schema file, after `mix release` contains:
[code]

I investigated the case and found out that this code might be the cause of the problem:
[code]
Precisely - the part with `Enum.filter` call.

[2018-08-02 18:42] ashneyderman-tcb opened #157 "An issue with conform.new"
I have config like this in config/config.exs:

`config :logger, backends: [{ Airbrake.LoggerBackend, :error }, :console]`

when I run

`mix conform.new`

I get the following

[code]

on startup this results in sys.config having this entry:
[code]

which is obviously incorrect. It has to be 'Elixir.Airbrake.LoggerBackend'. So on startup this fails.

has anyone seen this problem? Is there a solution

[2019-01-08 12:17] #145 closed

[2020-01-06 23:27] #142 closed

[2022-08-05 12:58] stewartdennis opened #160 "undeprecate conform"

[2022-08-07 16:05] bitwalker commented on #160
Any rationale? I really don’t see the benefit in doing so